  
       
            <header class="px-3 d-flex align-items-center justify-content-between gap-3">
                <h4 class="m-0">Thêm khách hàng</h4>
            
                <div class="d-flex align-items-center gap-4">
                    <div class="notification-wrapper position-relative">
                        <a class="show-notification" href="javscript:void(0)">
                            <i class="fa-regular fa-bell"></i>
                        </a>
                        <div class="notification-content">
                            <p>Không có thông báo</p>
                        </div>
                    </div>
            
                    <div class="user-wrapper position-relative">
                        <div class="d-flex align-items-center gap-2">
                            <div class="user-image-wrapper">
                                <img src="../user-no-image.svg" alt="" />
                            </div>
                            <i class="show-user-action fa-solid fa-chevron-down cursor-pointer"></i>
                        </div>
                        <div class="user-action d-flex flex-column gap-2">
                            <a href="javascript:void(0)" class="text-nowrap d-flex align-items-center">
                                <i class="fa-solid fa-circle-info"></i>
                                <span>Thông tin nhân viên</span>
                            </a>
                            <a href="javascript:void(0)" class="text-nowrap d-flex align-items-center click-logout">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </div>
                    </div>
            
                </div>
            </header>
            

            <main>
                        <!-- Thêm Alert cho thông báo thành công, thất bại hoặc cảnh báo -->
<div *ngIf="showAlert" class="alert" [ngClass]="alertClass" role="alert">
    <strong>{{ alertMessage }}</strong>
  </div>
              <form id="create-product" #addCustomerForm="ngForm" (ngSubmit)="addCustomer()">
                <div class="row m-0 p-3">
                  <div class="col-12 p-0">
                    <div class="page-content-box no-border">
                      <div class="d-flex align-items-start justify-content-between">
                        <div class="page-content-header">
                          Thông tin chung
                        </div>
                      </div>
            
                      <div class="row p-0 m-0">
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Mã khách hàng</label>
                            <div class="page-input">
                              <input type="text" id="customerId" placeholder="Nhập mã khách hàng" [(ngModel)]="customer.customerId" name="customerId"  />
                            </div>
                            <span></span>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Tên khách hàng</label>
                            <div class="page-input">
                              <input type="text" id="fullName" placeholder="Nhập tên khách hàng" [(ngModel)]="customer.fullName" name="fullName" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                      </div>
            
                      <div class="row m-0 p-0">
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Số điện thoại</label>
                            <div class="page-input">
                              <input type="text" id="phoneNumber" placeholder="Nhập số điện thoại" [(ngModel)]="customer.phoneNumber" name="phoneNumber" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Email</label>
                            <div class="page-input">
                              <input type="text" id="email" placeholder="Email" [(ngModel)]="customer.email" name="email" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                      </div>
            
                      <div class="row m-0 p-0">
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Giới tính</label>
                            <div class="page-input">
                              <select id="gender" [(ngModel)]="customer.gender" name="gender" required>
                                <option value="" disabled selected>Chọn</option>
                                <option value="Male">Nam</option>
                                <option value="Female">Nữ</option>
                              </select>
                            </div>
                            <span></span>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Thành viên từ ngày</label>
                            <div class="page-input">
                              <input type="date" id="memberSince" name="memberSince" [(ngModel)]="customer.memberSince" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                      </div>
            
                      <div class="row m-0 p-0">
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Mã số thuế</label>
                            <div class="page-input">
                              <input type="text" id="taxCode" placeholder="Nhập mã số thuế" [(ngModel)]="customer.taxCode" name="taxCode" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Đường</label>
                            <div class="page-input">
                              <input type="text" id="street" placeholder="Nhập đường" [(ngModel)]="customer.address.street" name="street" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                      </div>
            
                      <div class="row m-0 p-0">
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Thành phố</label>
                            <div class="page-input">
                              <input type="text" id="city" placeholder="Nhập thành phố" [(ngModel)]="customer.address.city" name="city" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                      </div>
            
                      <div class="row m-0 p-0">
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Phường/xã</label>
                            <div class="page-input">
                              <input type="text" id="ward" placeholder="Nhập phường/xã" [(ngModel)]="customer.address.ward" name="ward" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Quận/huyện</label>
                            <div class="page-input">
                              <input type="text" id="district" placeholder="Nhập quận/huyện" [(ngModel)]="customer.address.district" name="district" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                      </div>
            
                      <div class="row m-0 p-0">
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Tên công ty</label>
                            <div class="page-input">
                              <input type="text" id="companyName" placeholder="Nhập công ty" [(ngModel)]="customer.companyName" name="companyName" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6">
                          <div class="page-input-box">
                            <label>Vị trí trong công ty</label>
                            <div class="page-input">
                              <input type="text" id="positionInCompany" placeholder="Nhập vị trí trong công ty" [(ngModel)]="customer.positionInCompany" name="positionInCompany" required />
                            </div>
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="row m-0 p-0">
                        <div class="col-12 col-lg-6">
                        <div class="page-input-box">
                          <label>Loại khách hàng</label>
                          <div class="page-input">
                            <select id="cusTypeId" [(ngModel)]="customer.cusTypeId" name="cusTypeId" required>
                              <option value="" disabled selected>Chọn</option>
                              <option *ngFor="let type of customerTypes" [value]="type.cusTypeId">{{ type.cusTypeName }}</option>
                            </select>
                          </div>
                          <span></span>
                        </div>
                        </div>
                        <div class="col-12 col-lg-6"*ngIf="customer.cusTypeId === 'company'">
                          <div class="page-input-box">
                            <label>Số fax</label>
                            <div class="page-input">
                              <input type="text" id="faxNumber" placeholder="Nhập số fax" [(ngModel)]="customer.faxNumber" name="faxNumber" />
                            </div>
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="page-content-box no-border d-flex justify-content-end mt-3">
                    <button type="submit" class="form-submit-btn page-btn-sm btn-green" [disabled]="!addCustomerForm.form.valid">Thêm khách hàng</button>
                  </div>
                </div>
              </form>
            </main>

    