/* .bs-datepicker {
    .bs-datepicker-container {
        
        .bs-media-container{

            .bs-datepicker-head{
                background-color: red;
              }
        
              .bs-datepicker-body{
                background-color: aqua;
              }
        }
        .bs-timepicker-in-datepicker-container{
            background-color: blue;
        }
        .bs-datepicker-buttons{
            button{
                background-color: yellow;
            }
            
        }
    }
  } */
  bs-datepicker-container {
    z-index: 15000 !important; /* Đảm bảo z-index của BsDatepicker cao hơn z-index của OverlayPanel */
  }    
    