
<div class="container-fluid p-0 d-flex web-wrapper">
    <div class="sidebar px-3 h-100 d-flex flex-column">

        <div class="logo-wrapper w-100 pt-4 pb-5">
            <a href="index.html">
                <img src="/stech-logo-text-color.png" />
            </a>
        </div>
    
        <div class="sidebar-main flex-grow-1 overflow-y-auto">
            <ul class="p-0">
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="index.html">
                            <i class="sidebar-icon fa-solid fa-house"></i>
                            <span class="sidebar-text">Tổng quan</span>
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="/admin/orders">
                            <i class="sidebar-icon fa-solid fa-cart-flatbed"></i>
                            <span class="sidebar-text">Đơn hàng</span>
                        </a>
                        <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="sidebar-expandation">
                        <ul>
                            <li>
                                <a href="/admin/orders/create">Tạo dơn hàng</a>
                            </li>
                            <li>
                                <a href="/admin/orders?filter_by=unaccepted">Chờ xác nhận</a>
                            </li>
                            <li>
                                <a href="/admin/orders?filter_by=accepted">Chờ giao hàng</a>
                            </li>
                            <li>
                                <a href="/admin/orders?filter_by=completed">Đã giao hàng</a>
                            </li>
                            <li>
                                <a href="/admin/orders?filter_by=cancelled">Đã hủy</a>
                            </li>
                            <li>
                                <a href="/admin/orders?filter_by=all">Tất cả đơn hàng</a>
                            </li>
                        </ul>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="/admin/customers">
                            <i class="sidebar-icon fa-solid fa-users"></i>
                            <span class="sidebar-text">Khách hàng</span>
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item active">
                        <a class="sidebar-link" href="/admin/add-product">
                            <i class="sidebar-icon fa-solid fa-boxes-packing"></i>
                            <span class="sidebar-text">Sản phẩm</span>
                        </a>
                        <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="sidebar-expandation">
                        <ul>
                            <li>
                                <a href="/admin/add-product">Thêm sản phẩm</a>
                            </li>
                            <li>
                                <a href="/admin/products?status=out-of-stock-soon">Sản phẩm sắp hết hàng</a>
                            </li>
                            <li>
                                <a href="/admin/products?status=out-of-stock">Sản phẩm hết hàng</a>
                            </li>
                            <li>
                                <a href="/admin/products?status=inactive">Sản phẩm chưa kích hoạt</a>
                            </li>
                            <li>
                                <a href="/admin/products?status=deleted">Sản phẩm đã xóa</a>
                            </li>
                        </ul>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="/admin/reviews">
                            <i class="sidebar-icon fa-solid fa-star-half-stroke"></i>
                            <span class="sidebar-text">Đánh giá sản phẩm</span>
                        </a>
                        <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="sidebar-expandation">
                        <ul>
                            <li>
                                <a href="/admin/reviews">Tất cả đánh giá</a>
                            </li>
                            <li>
                                <a href="/admin/reviews?status=not-approved">Đánh giá chưa duyệt</a>
                            </li>
                            <li>
                                <a href="/admin/reviews?status=approved">Đánh giá đã duyệt</a>
                            </li>
                        </ul>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <div class="sidebar-link">
                            <i class="sidebar-icon fa-solid fa-table-list"></i>
                            <span class="sidebar-text">Danh mục/Hãng</span>
                        </div>
                        <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="sidebar-expandation">
                        <ul>
                            <li>
                                <a href="/admin/categories">Danh sách danh mục</a>
                            </li>
                            <li>
                                <a href="/admin/brands">Danh sách hãng</a>
                            </li>
                        </ul>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="javascript:void(0)">
                            <i class="sidebar-icon fa-solid fa-warehouse"></i>
                            <span class="sidebar-text">Kho hàng</span>
                        </a>
                        <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="sidebar-expandation">
                        <ul>
                            <li>
                                <a href="javascript:">Danh sách kho</a>
                            </li>
                            <li>
                                <a href="javascript:">Nhập kho</a>
                            </li>
                            <li>
                                <a href="javascript:">Xuất kho</a>
                            </li>
                        </ul>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="javascript:void(0)">
                            <i class="sidebar-icon fa-solid fa-tags"></i>
                            <span class="sidebar-text">Khuyến mãi</span>
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="javascript:void(0)">
                            <i class="sidebar-icon fa-solid fa-users-gear"></i>
                            <span class="sidebar-text">Nhân viên</span>
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="javascript:void(0)">
                            <i class="sidebar-icon fa-solid fa-chart-bar"></i>
                            <span class="sidebar-text">Báo cáo</span>
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="javascript:void(0)">
                            <i class="sidebar-icon fa-regular fa-comments"></i>
                            <span class="sidebar-text">Chat</span>
                        </a>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="javascript:void(0)">
                            <i class="sidebar-icon fa-solid fa-globe"></i>
                            <span class="sidebar-text">Website</span>
                        </a>
                        <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="sidebar-expandation">
                        <ul>
                            <li>
                                <a href="javascript:">Logo</a>
                            </li>
                            <li>
                                <a href="javascript:">Menu</a>
                            </li>
                            <li>
                                <a href="javascript:">Banner</a>
                            </li>
                        </ul>
                    </div>
                </li>
    
                <li>
                    <div class="sidebar-item">
                        <a class="sidebar-link" href="javascript:void(0)">
                            <i class="sidebar-icon fa-solid fa-ellipsis"></i>
                            <span class="sidebar-text">Khác</span>
                        </a>
                        <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="sidebar-expandation">
                        <ul>
                            <li>
                                <a href="javascript:">Thông tin cửa hàng</a>
                            </li>
                            <li>
                                <a href="javascript:">Danh sách chi nhánh</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    
        <div class="sidebar-bottom d-flex align-items-center py-3">
            <a class="sidebar-logout" href="javascript:void(0)">
                <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
                <span>Đăng xuất</span>
            </a>
        </div>
    </div>
    <div class="main">
        <router-outlet></router-outlet> 
    </div>


    <section class="web-loader-wrapper">
        <div class="web-loader-box">
            <div class="web-loader">
                <div></div><div></div><div></div><div></div><div></div>
            </div>
        </div>
    </section>

</div>

