 
    <div class="container-fluid p-0 d-flex web-wrapper">
      <div class="sidebar px-3 h-100 d-flex flex-column">

          <div class="logo-wrapper w-100 pt-4 pb-5">
              <a href="index.html">
                  <img src="/stech-logo-text-color.png" />
              </a>
          </div>
      
          <div class="sidebar-main flex-grow-1 overflow-y-auto">
              <ul class="p-0">
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="index.html">
                              <i class="sidebar-icon fa-solid fa-house"></i>
                              <span class="sidebar-text">Tổng quan</span>
                          </a>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="/admin/orders">
                              <i class="sidebar-icon fa-solid fa-cart-flatbed"></i>
                              <span class="sidebar-text">Đơn hàng</span>
                          </a>
                          <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                      </div>
                      <div class="sidebar-expandation">
                          <ul>
                              <li>
                                  <a href="/admin/orders/create">Tạo dơn hàng</a>
                              </li>
                              <li>
                                  <a href="/admin/orders?filter_by=unaccepted">Chờ xác nhận</a>
                              </li>
                              <li>
                                  <a href="/admin/orders?filter_by=accepted">Chờ giao hàng</a>
                              </li>
                              <li>
                                  <a href="/admin/orders?filter_by=completed">Đã giao hàng</a>
                              </li>
                              <li>
                                  <a href="/admin/orders?filter_by=cancelled">Đã hủy</a>
                              </li>
                              <li>
                                  <a href="/admin/orders?filter_by=all">Tất cả đơn hàng</a>
                              </li>
                          </ul>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="/admin/customers">
                              <i class="sidebar-icon fa-solid fa-users"></i>
                              <span class="sidebar-text">Khách hàng</span>
                          </a>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item active">
                          <a class="sidebar-link" href="/admin/products">
                              <i class="sidebar-icon fa-solid fa-boxes-packing"></i>
                              <span class="sidebar-text">Sản phẩm</span>
                          </a>
                          <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                      </div>
                      <div class="sidebar-expandation">
                          <ul>
                              <li>
                                  <a href="/admin/products/create">Thêm sản phẩm</a>
                              </li>
                              <li>
                                  <a href="/admin/products?status=out-of-stock-soon">Sản phẩm sắp hết hàng</a>
                              </li>
                              <li>
                                  <a href="/admin/products?status=out-of-stock">Sản phẩm hết hàng</a>
                              </li>
                              <li>
                                  <a href="/admin/products?status=inactive">Sản phẩm chưa kích hoạt</a>
                              </li>
                              <li>
                                  <a href="/admin/products?status=deleted">Sản phẩm đã xóa</a>
                              </li>
                          </ul>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="/admin/reviews">
                              <i class="sidebar-icon fa-solid fa-star-half-stroke"></i>
                              <span class="sidebar-text">Đánh giá sản phẩm</span>
                          </a>
                          <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                      </div>
                      <div class="sidebar-expandation">
                          <ul>
                              <li>
                                  <a href="/admin/reviews">Tất cả đánh giá</a>
                              </li>
                              <li>
                                  <a href="/admin/reviews?status=not-approved">Đánh giá chưa duyệt</a>
                              </li>
                              <li>
                                  <a href="/admin/reviews?status=approved">Đánh giá đã duyệt</a>
                              </li>
                          </ul>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <div class="sidebar-link">
                              <i class="sidebar-icon fa-solid fa-table-list"></i>
                              <span class="sidebar-text">Danh mục/Hãng</span>
                          </div>
                          <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                      </div>
                      <div class="sidebar-expandation">
                          <ul>
                              <li>
                                  <a href="/admin/categories">Danh sách danh mục</a>
                              </li>
                              <li>
                                  <a href="/admin/brands">Danh sách hãng</a>
                              </li>
                          </ul>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="javascript:void(0)">
                              <i class="sidebar-icon fa-solid fa-warehouse"></i>
                              <span class="sidebar-text">Kho hàng</span>
                          </a>
                          <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                      </div>
                      <div class="sidebar-expandation">
                          <ul>
                              <li>
                                  <a href="javascript:">Danh sách kho</a>
                              </li>
                              <li>
                                  <a href="javascript:">Nhập kho</a>
                              </li>
                              <li>
                                  <a href="javascript:">Xuất kho</a>
                              </li>
                          </ul>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="javascript:void(0)">
                              <i class="sidebar-icon fa-solid fa-tags"></i>
                              <span class="sidebar-text">Khuyến mãi</span>
                          </a>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="javascript:void(0)">
                              <i class="sidebar-icon fa-solid fa-users-gear"></i>
                              <span class="sidebar-text">Nhân viên</span>
                          </a>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="javascript:void(0)">
                              <i class="sidebar-icon fa-solid fa-chart-bar"></i>
                              <span class="sidebar-text">Báo cáo</span>
                          </a>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="javascript:void(0)">
                              <i class="sidebar-icon fa-regular fa-comments"></i>
                              <span class="sidebar-text">Chat</span>
                          </a>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="javascript:void(0)">
                              <i class="sidebar-icon fa-solid fa-globe"></i>
                              <span class="sidebar-text">Website</span>
                          </a>
                          <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                      </div>
                      <div class="sidebar-expandation">
                          <ul>
                              <li>
                                  <a href="javascript:">Logo</a>
                              </li>
                              <li>
                                  <a href="javascript:">Menu</a>
                              </li>
                              <li>
                                  <a href="javascript:">Banner</a>
                              </li>
                          </ul>
                      </div>
                  </li>
      
                  <li>
                      <div class="sidebar-item">
                          <a class="sidebar-link" href="javascript:void(0)">
                              <i class="sidebar-icon fa-solid fa-ellipsis"></i>
                              <span class="sidebar-text">Khác</span>
                          </a>
                          <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                      </div>
                      <div class="sidebar-expandation">
                          <ul>
                              <li>
                                  <a href="javascript:">Thông tin cửa hàng</a>
                              </li>
                              <li>
                                  <a href="javascript:">Danh sách chi nhánh</a>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      
          <div class="sidebar-bottom d-flex align-items-center py-3">
              <a class="sidebar-logout" href="javascript:void(0)">
                  <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
                  <span>Đăng xuất</span>
              </a>
          </div>
      </div>

      <div class="main">
          <header class="px-3 d-flex align-items-center justify-content-between gap-3">
              <h4 class="m-0">Page Title</h4>
          
              <div class="d-flex align-items-center gap-4">
                  <div class="notification-wrapper position-relative">
                      <a class="show-notification" href="javscript:void(0)">
                          <i class="fa-regular fa-bell"></i>
                      </a>
                      <div class="notification-content">
                          <p>Không có thông báo</p>
                      </div>
                  </div>
          
                  <div class="user-wrapper position-relative">
                      <div class="d-flex align-items-center gap-2">
                          <div class="user-image-wrapper">
                              <img src="/user-no-image.svg" alt="" />
                          </div>
                          <i class="show-user-action fa-solid fa-chevron-down cursor-pointer"></i>
                      </div>
                      <div class="user-action d-flex flex-column gap-2">
                          <a href="javascript:void(0)" class="text-nowrap d-flex align-items-center">
                              <i class="fa-solid fa-circle-info"></i>
                              <span>Thông tin nhân viên</span>
                          </a>
                          <a href="javascript:void(0)" class="text-nowrap d-flex align-items-center click-logout">
                              <i class="fa-solid fa-arrow-right-from-bracket"></i>
                              <span>Đăng xuất</span>
                          </a>
                      </div>
                  </div>
          
              </div>
          </header>

          <main>
              <section class="page-wrapper">

                  <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                      <div class="filters-box flex-wrap">
                          <div class="filter-item filter-all">
                              <div class="filter-btn">
                                  <i class="fa-solid fa-filter"></i>
                                  <span>Lọc theo</span>
                              </div>
              
                              <div class="filter-contents">
                                  <div class="d-flex flex-wrap flex-lg-nowrap gap-4">
                                      <div>
                                          <p class="filter-content-header">Giá</p>
              
                                          <div>
                                          </div>
                                      </div>
              
                                      <div>
                                          <p class="filter-content-header">Tình trạng</p>
              
                                          <div class="display-grid columns-3">
                                              
                                              
                                              <input type="radio" value="" id="stt_filter-status-all" name="stt_filter-status" hidden />
                                          </div>
                                      </div>
                                  </div>
              
                                  <div class="d-flex flex-wrap flex-lg-nowrap gap-4">
                                      <div>
                                          <p class="filter-content-header">Danh mục</p>
              
                                          <div class="display-grid columns-4">
                                             
                                          </div>
                                      </div>
              
                                      <div>
                                          <p class="filter-content-header">Hãng</p>
              
                                          <div class="display-grid columns-4">
                                              
                                          </div>
                                      </div>
                                  </div>
              
                                  <div class="filter-action-wrapper">
                                      <button class="filter-cancel-action page-btn">
                                          <span>BỎ CHỌN</span>
                                      </button>
                                  
                                      <button class="filter-submit-action page-btn btn-blue">
                                          <span>LỌC</span>
                                      </button>
                                  </div>
              
                              </div>
                          </div>
              
                          <div class="filter-item filter-price-range">
                              <div class="filter-btn">
                                  <span>Giá</span>
                              </div>
              
                              <div class="filter-contents">
              
              
                                  <div class="filter-action-wrapper">
                                      <button class="filter-cancel-action page-btn">
                                          <span>BỎ CHỌN</span>
                                      </button>
                                  
                                      <button class="filter-submit-action page-btn btn-blue">
                                          <span>LỌC</span>
                                      </button>
                                  </div>
              
                              </div>
                          </div>
              
                          <div class="filter-item filter-categories">
                              <div class="filter-btn">
                                  <span>Danh mục</span>
                              </div>
              
                              <div class="filter-contents">
                                  <div class="display-grid columns-3">
                                      
                                  </div>
              
                                  <div class="filter-action-wrapper">
                                      <button class="filter-cancel-action page-btn">
                                          <span>BỎ CHỌN</span>
                                      </button>
                                  
                                      <button class="filter-submit-action page-btn btn-blue">
                                          <span>LỌC</span>
                                      </button>
                                  </div>
              
                              </div>
                          </div>
              
                          <div class="filter-item filter-brands">
                              <div class="filter-btn">
                                  <span>Hãng</span>
                              </div>
              
                              <div class="filter-contents">
                                  <div class="display-grid columns-4">
                                      
                                  </div>
              
                                  <div class="filter-action-wrapper">
                                      <button class="filter-cancel-action page-btn">
                                          <span>BỎ CHỌN</span>
                                      </button>
                                  
                                      <button class="filter-submit-action page-btn btn-blue">
                                          <span>LỌC</span>
                                      </button>
                                  </div>
              
                              </div>
                          </div>
              
                          <div class="filter-item filter-status">
                              <div class="filter-btn">
                                  <span>Tình trạng</span>
                              </div>
              
                              <div class="filter-contents">
                                  <div class="display-grid columns-2">
                                      
              
                                      <input type="radio" value="" id="filter-status-all" name="filter-status" hidden />
                                  </div>
              
                                  <div class="filter-action-wrapper">
                                      <button class="filter-cancel-action page-btn">
                                          <span>BỎ CHỌN</span>
                                      </button>
                                  
                                      <button class="filter-submit-action page-btn btn-blue">
                                          <span>LỌC</span>
                                      </button>
                                  </div>
              
                              </div>
                          </div>
                      </div>
              
                      <div class="d-flex gap-2 flex-wrap">
                          <div class="page-dropdown select-warehouse">
                              <div class="page-dropdown-btn" data-selected="">
                                  <span>Không chọn kho</span>
                                  <i class="fa-solid fa-caret-down"></i>
                              </div>
                              <div class="page-dropdown-content">
                                  <div class="page-dropdown-item" data-value="" data-text="Không chọn kho">
                                      <span>Không chọn kho</span>
                                  </div>
                                  <div class="page-dropdown-item" data-value="@wh.WarehouseId" data-text="kho001">
                                      <span>Kho 1</span>
                                  </div>
                              </div>
                          </div>
              
                          <div class="page-dropdown sort-selection">
                              <div class="page-dropdown-btn" data-selected="">
                                  <span>Sắp xếp theo</span>
                                  <i class="fa-solid fa-caret-down"></i>
                              </div>
                              <div class="page-dropdown-content">
                                  <div class="page-dropdown-item" data-value="" data-text="Sắp xếp theo">
                                      <span>Sắp xếp theo</span>
                                  </div>
                                  <div class="page-dropdown-item" data-value="price-ascending" data-text="Giá tăng dần">
                                      <span>Giá tăng dần</span>
                                  </div>
                                  <div class="page-dropdown-item" data-value="price-descending" data-text="Giá giảm dần">
                                      <span>Giá giảm dần</span>
                                  </div>
                                  <div class="page-dropdown-item" data-value="name-az" data-text="Tên A - Z">
                                      <span>Tên A - Z</span>
                                  </div>
                                  <div class="page-dropdown-item" data-value="name-za" data-text="Tên Z - A">
                                      <span>Tên Z - A</span>
                                  </div>
                              </div>
                          </div>
              
                          <div class="page-dropdown view-selection">
                              <div class="page-dropdown-btn" data-selected="">
                                  <span>Dạng xem</span>
                                  <i class="fa-solid fa-caret-down"></i>
                              </div>
                              <div class="page-dropdown-content">
                                  <div class="page-dropdown-item" data-value="view-list" data-text="Danh sách">
                                      <span>Danh sách</span>
                                  </div>
                                  <div class="page-dropdown-item" data-value="view-grid" data-text="Lưới">
                                      <span>Lưới</span>
                                  </div>
                              </div>
                          </div>
              
                          <div class="position-relative">
                              <form class="search-form @form_class_name">
                                  <input type="text" id="search" placeholder="Tìm theo tên/mã sản phẩm" value="" required />
                                  <button type="submit">
                                      <i class="fa-solid fa-magnifying-glass"></i>
                                  </button>
                              </form>
                          
                              <div class="search-result-wrapper position-absolute show">
                                  <div class="search-result-list">
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              
                  <div class="hidden-action mt-2">
                      <button class="page-btn btn-red delete-selected-products">
                          <i class="fa-solid fa-trash-can"></i>
                          <span>Xóa sản phẩm đã chọn</span>
                      </button>
              
                      <button class="page-btn btn-lightblue restore-selected-products">
                          <i class="fa-solid fa-trash-can-arrow-up"></i>
                          <span>Khôi phục sản phẩm đã chọn</span>
                      </button>
              
                      <button class="page-btn btn-green activate-selected-products">
                          <i class="fa-regular fa-circle-check"></i>
                          <span>Kích hoạt sản phẩm đã chọn</span>
                      </button>
              
                      <button class="page-btn btn-blue deactivate-selected-products">
                          <i class="fa-regular fa-circle-xmark"></i>
                          <span>Hủy kích hoạt sản phẩm đã chọn</span>
                      </button>
                      
                  </div>
                  <div class="page-table-wrapper mt-2">
                      <table class="page-table order-list">
                          <thead class="page-table-header">
                              <tr>
                                  <th>
                                      <input type="checkbox" id="page-table-checkbox-all" />
                                  </th>
                                  <th>STT</th>
                                  <th>Hình</th>
                                  <th>Tên sản phẩm</th>
                                  <th>Giá so sánh</th>
                                  <th>Giá bán</th>
                                  <th>Trạng thái</th>
                                  <th>Tồn kho</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody class="product-list view-list" data-view="view-list">
                              <tr data-item="sp001">
                                  <td>
                                      <input type="checkbox" name="page-table-checkbox" value="sp001" />
                                  </td>
                                  <td>
                                      1
                                  </td>
                                  <td>
                                      <div >
                                          <img src="https://file.hstatic.net/1000026716/file/card-man-hinh-gigabyte-aorus-geforce-rtx-4090-xtreme-waterforce-24g_f5866b6a7df641f190286f9293dc2de1_grande.jpg" alt="" style="width: 2rem">
                                      </div>
                                  </td>
                                  <td>
                                      <span class="text-overflow-1">Sản phẩm 1</span>
                                  </td>
                                  <td>
                                      1.000.000đ
                                  </td>
                                  <td>
                                      990.000đ
                                  </td>
                                  <td>
                                      <span class="page-badge badge-success">Còn hàng</span>
                                  </td>
                                  <td>
                                      20
                                  </td>
                                  <td>
                                      <div class="d-flex gap-1 align-items-center justify-content-end">
                                          <a class="page-table-btn btn-lightblue" href="javascript:">
                                              <i class="fa-regular fa-pen-to-square"></i>
                                          </a>
                                          <button class="page-table-btn btn-red delete-product" data-product="sp001">
                                              <i class="fa-solid fa-trash-can"></i>
                                          </button>
                                      </div>
                                  </td>
                              </tr>
                              <tr data-item="sp002">
                                  <td>
                                      <input type="checkbox" name="page-table-checkbox" value="sp002" />
                                  </td>
                                  <td>
                                      2
                                  </td>
                                  <td>
                                      <div >
                                          <img src="https://file.hstatic.net/1000026716/file/card-man-hinh-gigabyte-aorus-geforce-rtx-4090-xtreme-waterforce-24g_f5866b6a7df641f190286f9293dc2de1_grande.jpg" alt="" style="width: 2rem">
                                      </div>
                                  </td>
                                  <td>
                                      <span class="text-overflow-1">Sản phẩm 2</span>
                                  </td>
                                  <td>
                                      1.000.000đ
                                  </td>
                                  <td>
                                      990.000đ
                                  </td>
                                  <td>
                                      <span class="page-badge badge-warning">Sắp hết hàng</span>
                                  </td>
                                  <td>
                                      3
                                  </td>
                                  <td>
                                      <div class="d-flex gap-1 align-items-center justify-content-end">
                                          <a class="page-table-btn btn-lightblue" href="javascript:">
                                              <i class="fa-regular fa-pen-to-square"></i>
                                          </a>
                                          <button class="page-table-btn btn-red delete-product" data-product="sp001">
                                              <i class="fa-solid fa-trash-can"></i>
                                          </button>
                                      </div>
                                  </td>
                              </tr>
                              <tr data-item="sp003">
                                  <td>
                                      <input type="checkbox" name="page-table-checkbox" value="sp003" />
                                  </td>
                                  <td>
                                      3
                                  </td>
                                  <td>
                                      <div >
                                          <img src="https://file.hstatic.net/1000026716/file/card-man-hinh-gigabyte-aorus-geforce-rtx-4090-xtreme-waterforce-24g_f5866b6a7df641f190286f9293dc2de1_grande.jpg" alt="" style="width: 2rem">
                                      </div>
                                  </td>
                                  <td>
                                      <span class="text-overflow-1">Sản phẩm 3</span>
                                  </td>
                                  <td>
                                      1.000.000đ
                                  </td>
                                  <td>
                                      990.000đ
                                  </td>
                                  <td>
                                      <span class="page-badge badge-error">Hết hàng</span>
                                  </td>
                                  <td>
                                      0
                                  </td>
                                  <td>
                                      <div class="d-flex gap-1 align-items-center justify-content-end">
                                          <a class="page-table-btn btn-lightblue" href="javascript:">
                                              <i class="fa-regular fa-pen-to-square"></i>
                                          </a>
                                          <button class="page-table-btn btn-red delete-product" data-product="sp001">
                                              <i class="fa-solid fa-trash-can"></i>
                                          </button>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              
                  <div class="d-flex justify-content-end mt-2 w-100">
                      <div class="pagination-box">
                          <a href="javascript:void(0)" class="pagination-item" data-page="previous">
                              <i class="fa-solid fa-chevron-left"></i>
                          </a>
                          <a href="javascript:void(0)" class="pagination-item current" data-page="1">1</a>
                          <a href="javascript:void(0)" class="pagination-item" data-page="2">2</a>
                          <a href="javascript:void(0)" class="pagination-item" data-page="3">3</a>
                          <a href="javascript:void(0)" class="pagination-item" data-page="4">4</a>
                          <a href="javascript:void(0)" class="pagination-item" data-page="5">5</a>
                          <a href="javascript:void(0)" class="pagination-item" data-page="next">
                              <i class="fa-solid fa-chevron-right"></i>
                          </a>
                      </div>
                  </div>
              
              </section>
          </main>
      </div>

      <section class="web-loader-wrapper">
          <div class="web-loader-box">
              <div class="web-loader">
                  <div></div><div></div><div></div><div></div><div></div>
              </div>
          </div>
      </section>

  </div>

  