/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFProDisplay/SF-Pro-Display-Semibold.woff2') format('woff2'),
    url('/fonts/SFProDisplay/SF-Pro-Display-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFProDisplay/SF-Pro-Display-Bold.woff2') format('woff2'),
    url('/fonts/SFProDisplay/SF-Pro-Display-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFProDisplay/SF-Pro-Display-Medium.woff2') format('woff2'),
    url('/fonts/SFProDisplay/SF-Pro-Display-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFProDisplay/SF-Pro-Display-Light.woff2') format('woff2'),
    url('/fonts/SFProDisplay/SF-Pro-Display-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFProDisplay/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('/fonts/SFProDisplay/SF-Pro-Display-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Sử dụng phông chữ trong toàn bộ ứng dụng */
body {
  font-family: 'SF Pro Display', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display';
  font-size: 0.95rem;
}

i {
  font-family: "Font Awesome 6 Free";
}

/*----Loaders ---------------------------------------------*/
/*-----------------------------------*/
@keyframes web-loader {
  0% {
      transform: translate(6px,40px) scale(0);
  }

  25% {
      transform: translate(6px,40px) scale(0);
  }

  50% {
      transform: translate(6px,40px) scale(1);
  }

  75% {
      transform: translate(40px,40px) scale(1);
  }

  100% {
      transform: translate(74px,40px) scale(1);
  }
}

@keyframes web-loader-r {
  0% {
      transform: translate(74px,40px) scale(1):
  }

  100% {
      transform: translate(74px,40px) scale(0);
  }
}

@keyframes web-loader-c {
  0% {
      background: #3be8b0
  }

  25% {
      background: #ffb900
  }

  50% {
      background: #6a67ce
  }

  75% {
      background: #1aafd0
  }

  100% {
      background: #3be8b0
  }
}

.web-loader div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(40px,40px) scale(1);
  background: #3be8b0;
  animation: web-loader 2.5s infinite cubic-bezier(0,0.5,0.5,1);
}

  .web-loader div:nth-child(1) {
      background: #1aafd0;
      transform: translate(74px,40px) scale(1);
      animation: web-loader-r 0.625s infinite cubic-bezier(0,0.5,0.5,1), web-loader-c 2.5s infinite step-start;
  }

  .web-loader div:nth-child(2) {
      animation-delay: -0.625s;
      background: #3be8b0;
  }

  .web-loader div:nth-child(3) {
      animation-delay: -1.25s;
      background: #1aafd0;
  }

  .web-loader div:nth-child(4) {
      animation-delay: -1.875s;
      background: #6a67ce;
  }

  .web-loader div:nth-child(5) {
      animation-delay: -2.5s;
      background: #ffb900;
  }

.web-loader-box {
  width: 78px;
  height: 78px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.web-loader {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.78);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

  .web-loader div {
      box-sizing: content-box;
  }


/*-------------------------------------------*/
.loader-box {
  max-width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: transparent;
  border-radius: var(--radius);
  backdrop-filter: var(--blur);
}

.loader-container {
  --uib-color: var(--loader-color);
  --uib-speed: 2s;
  --uib-bg-opacity: 0;
  transform-origin: center;
  animation: loader-rotate var(--uib-speed) linear infinite;
  will-change: transform;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  fill: none;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes loader-rotate {
  100% {
      transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
      stroke-dasharray: 0, 150;
      stroke-dashoffset: 0;
  }

  50% {
      stroke-dasharray: 75, 150;
      stroke-dashoffset: -25;
  }

  100% {
      stroke-dashoffset: -100;
  }
}


/*-------------------------------------------*/
/*  ------------------------------------------------  */

.web-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--primary-background-color);
}

.sidebar {
  width: 18rem;
  background: var(--primary-content-color);
  box-shadow: 1px 0 5px -2px #0000004e;
  z-index: 15;
}

.logo-wrapper img {
  width: 10rem;
}

.sidebar-main {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar-main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sidebar-main ul {
  list-style-type: none;
  position: relative;
}

  .sidebar-main ul li {
      width: 100%;
      margin-bottom: 0.5rem;
  }

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.7rem 0.6rem 0;
  border-radius: var(--radius);
  color: var(--sidebar-text-color);
  transition: all .3s ease;
}

  .sidebar-item:hover, .sidebar-item.active {
      padding: 0.6rem 0.7rem;
      background: var(--primary-active-bg-color);
      color: var(--primary-color);
      transition: all .3s ease;
  }

      .sidebar-item:hover .sidebar-link,
      .sidebar-item.active .sidebar-link {
          color: var(--primary-color);
      }

.sidebar-link {
  flex-grow: 1;
  text-decoration: none;
  color: var(--sidebar-text-color);
}

.sidebar-icon {
  width: 2em;
  font-size: 1.1rem;
}

.sidebar-text {
  font-size: 1.1rem;
  font-weight: 500;
}

.sidebar-arrow {
  font-size: 0.85rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: all .3s ease;
}

  .sidebar-arrow.active {
      transform: rotate(90deg);
      transition: all .3s ease;
  }

.sidebar-expandation {
  position: absolute;
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  padding: .4rem 0;
  border-bottom: 1px solid #ccc;
  transition: opacity .3s ease;
}

  .sidebar-expandation.show {
      position: static;
      transform: scale(1);
      visibility: visible;
      opacity: 1;
      transition: opacity .3s ease;
  }

  .sidebar-expandation a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1rem;
      color: var(--sidebar-text-color);
  }

      .sidebar-expandation a:hover,
      .sidebar-expandation a.active {
          color: var(--primary-color);
      }

.sidebar-logout {
  text-decoration: none;
  color: var(--sidebar-text-color);
}

  .sidebar-logout:hover {
      color: var(--primary-color);
  }


  .sidebar-logout span {
      font-size: 1.1rem;
      font-weight: 500;
  }

  .sidebar-logout i {
      font-size: 1.1rem;
  }

.main > header {
  position: relative;
  height: 4rem;
  background: var(--primary-content-color);
  box-shadow: 0 1px 5px -2px #00000084;
  margin-bottom: .3rem;
  z-index: 14;
}

.show-notification {
  color: var(--primary-text-color);
  position: relative;
  text-decoration: none;
}

  .show-notification i {
      font-size: 1.5rem;
      height: 2.5rem;
      display: grid;
      place-items: center;
  }

.user-image-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

  .user-image-wrapper img {
      object-fit: cover;
      width: 100%;
      height: 100%;
  }

.user-action,
.notification-content {
  position: absolute;
  right: 0;
  top: calc(100% + 1.1rem);
  background: var(--primary-content-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.notification-content {
  width: 25rem;
  right: -5rem;
}

  .user-action.show,
  .notification-content.show {
      visibility: visible;
      opacity: 1;
      transition: opacity .3s ease;
  }

.user-action a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
}

  .user-action a:hover {
      text-decoration: underline;
      color: var(--primary-color);
  }

.user-action i {
  width: 1.5rem;
}

.show-notification:hover,
.show-notification.active,
.show-user-action:hover,
.show-user-action:active {
  color: var(--primary-color);
}

.main {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  width: calc(100% - 18rem);
}

.main > main {
  padding: .7rem 1rem 1rem 1rem;
  height: 100%;
  overflow-x: auto;
  flex-grow: 1;
}

.web-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f79e;
  display: none;
  place-items: center;
  padding-left: 18rem;
  z-index: 10;
}

  .web-loader-wrapper.show {
      display: grid;
  }

.cursor-pointer {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  border: none !important;
}

  button:disabled:hover {
      border: none !important;
      outline: none !important;
  }

.fweight-500 {
  font-weight: 500;
}

.fweight-600 {
  font-weight: 600;
}

.form-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  top: 0;
  left: 0;
  display: grid;
  opacity: 0;
  visibility: hidden;
  place-items: center;
  z-index: 30;
  transition: all .4s ease;
}

.cursor-pointer {
  cursor: pointer;
}

.form-container.show {
  opacity: 1;
  visibility: visible;
}

.form-box {
  position: relative;
  max-width: calc(100vw - 1rem) !important;
  max-height: calc(100vh - 2rem) !important;
  background: var(--primary-content-color);
  padding: 1.5rem;
  border-radius: 0.3rem;
  cursor: auto;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  transition: all .4s ease;
}

  .form-box > h3 {
      font-size: 1.5rem;
  }

.form-container.show .form-box {
  opacity: 1;
  visibility: visible;
}

.form-bottom {
  margin-top: 1rem;
}

.form-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1.5rem;
}

.form-header,
.form-header * {
  font-size: 1.2rem;
  font-weight: bold;
}

.form-btn-wrapper {
  display: flex;
  gap: .6rem;
  margin-top: 1rem;
}

.form-submit-btn {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--primary-content-color);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 0.6rem 0;
  display: grid;
  place-items: center;
  white-space: nowrap;
}


  .form-submit-btn.page-btn-sm {
      width: auto;
      padding: 0.6rem 1.5rem;
      font-size: .95rem;
  }

  .form-submit-btn:not(:disabled):hover {
      outline: 2px solid var(--primary-color-hover);
  }

.form-reset-btn {
  border: 2px solid var(--primary-color-hover);
  background: var(--primary-content-color);
  color: var(--primary-color-hover);
  font-size: .95rem;
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 0.6rem 1.5rem;
  display: grid;
  place-items: center;
  white-space: nowrap;
}

  .form-reset-btn:hover,
  .form-reset-btn:active {
      background: var(--primary-color-hover);
      color: var(--primary-content-color);
      transition: all .3s ease;
  }


.flex-btn {
  display: flex;
  gap: .5rem;
}

.close-form {
  cursor: pointer;
  padding: .3rem .5rem;
  border-radius: var(--radius);
  display: grid;
  place-items: center;
}

.close-form:hover {
  background: #f0f0f0;
}

  .close-form i {
      font-size: 1.3rem;
  }

.close-form-text {
  border-radius: var(--radius);
  padding: .3rem .6rem;
  border: 1px solid var(--border-color);
  background: transparent;
}

  .close-form-text:hover {
      border-color: var(--primary-color-hover);
      color: var(--primary-color-hover);
  }

.form-error {
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  background: #fff3cd;
  padding: 0.5rem 1rem;
  display: none;
}

  .form-error i {
      font-size: 1rem;
      margin-right: 0.5rem;
      color: #e30019;
  }

  .form-error ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

      .form-error ul li {
          padding: 0.3rem 0;
      }

.field-validation-error span,
.field-validation-valid span {
  margin: 0.3rem 0;
  color: #e30019;
  font-size: 0.85rem !important;
}

.form-input-box {
  border: 1px solid #cfcfcf;
  border-radius: 0.3rem;
  margin-top: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.form-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

  .form-input:focus ~ .input-label, .form-input.input-valid ~ .input-label {
      transform: translateY(-110%);
      font-size: 0.8rem;
  }

.input-label {
  pointer-events: none;
  position: absolute;
  left: 0.8rem;
  padding: 0 0.4rem;
  background: var(--primary-content-color);
  transition: transform .4s ease;
}

.form-group-header {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0 0 0;
}

.page-input-box {
  width: 100%;
  margin-bottom: 0.8rem;
}

  .page-input-box label {
      margin-bottom: 0.3rem;
      font-size: 1rem;
      font-weight: 500;
  }

.page-input {
  width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 0.3rem;
  display: flex;
}

  .page-input:not(:has(i)) input,
  .page-input:not(:has(i)) select,
  .page-input:not(:has(i)) textarea {
      padding-left: 1.2rem;
      width: 100%;
  }

  .page-input i {
      width: 3rem;
      display: grid;
      place-items: center;
      font-size: 1.3rem;
      color: #575757;
  }

  .page-input input, .page-input select, .page-input textarea {
      width: calc(100% - 3rem);
      border: none;
      outline: none;
      border-radius: 0.3rem;
      padding: 0.6rem 1.2rem 0.6rem 0;
      font-size: 0.97rem;
  }

  .page-input:has(input:focus),
  .page-input:has(select:focus),
  .page-input:has(textarea:focus) {
      outline: 1px solid #9d9c9c;
  }

  .page-input.focused {
      outline: 1px solid #9d9c9c;
  }

.page-radio-input label {
  cursor: pointer;
  display: flex;
  gap: .5rem;
}

  .page-radio-input label.checked * {
      color: var(--primary-color);
      font-weight: 500;
  }

.page-table-wrapper {
  border-radius: 0.3rem;
  border: 1px solid #eaeaea;
  overflow-x: auto;
}

.page-table {
  width: 100%;
  overflow: hidden;
}

.page-table-header {
  background: #f4f3f3;
}

.page-table th {
  font-weight: 500;
  text-align: left;
  padding: 0.8rem;
  white-space: nowrap;
}

.page-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.page-table tbody tr:has(input[type="checkbox"]:checked) {
  background: #DFF5FF;
}

.page-table td {
  padding: 0.8rem;
}

.page-table-btn, .page-btn, .page-btn-small {
  border: none;
  background: var(--primary-color);
  font-size: 1rem;
  color: var(--primary-content-color);
  padding: 0.3rem 0.5rem;
  border-radius: var(--radius);
  white-space: nowrap;
  text-decoration: none;
}

.page-table-btn {
  padding: 0 !important;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
}

  .page-table-btn:hover, .page-btn:hover {
      outline: 2px solid var(--primary-color-hover);
  }

.page-btn {
  padding: .3rem .6rem;
}

.page-btn i {
  font-size: .9rem;
}

.page-btn-small {
  padding: .1rem .4rem;
}

.page-btn-small i {
  font-size: .85rem;
}

.page-btn-nav-wrapper {
  display: flex;
  overflow-x: auto;
}

.page-btn-nav {
  display: flex;
  align-items: center;
  border-radius: .4rem;
  background: #f2ebeb;
  padding: .2rem;
}

.page-btn-nav.disabled {
  background: #c6c5c5;
  cursor: not-allowed;
}

  .page-btn-nav.disabled .page-btn-nav-item {
      cursor: not-allowed;
      pointer-events: none;
      background: none;
  }

.page-btn-nav-item {
  border-radius: .3rem;
  padding: .5rem 1rem;
  cursor: pointer;
  white-space: nowrap;
}

  .page-btn-nav-item.active {
      background: #fff;
      font-weight: 500;
  }

.page-wrapper {
  background: var(--primary-content-color);
  padding: 1rem;
  border-radius: var(--radius);
}

.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical
}

.text-overflow-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.page-badge {
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
  background: #f0f0f0;
}

.badge-success {
  background-color: #5ffd1c4a;
  color: #37b302;
}

.badge-warning {
  background-color: #ffc1073f;
  color: #ff9b10;
}

.badge-error {
  background-color: #dc354542;
  color: #e30019;
}

.btn-red {
  background: var(--color-red);
}

  .btn-red:hover,
  .btn-red:active {
      outline: 2px solid var(--color-red-hover) !important;
  }

.btn-green {
  background: var(--color-green);
}

  .btn-green:hover,
  .btn-green:active {
      outline: 2px solid var(--color-green-hover) !important;
  }

.btn-blue {
  background: var(--color-blue);
}

  .btn-blue:hover,
  .btn-blue:active {
      outline: 2px solid var(--color-blue-hover) !important;
  }

.btn-lightblue {
  background: var(--color-lightblue);
}

  .btn-lightblue:hover,
  .btn-lightblue:active {
      outline: 2px solid var(--color-lightblue-hover) !important;
  }

.btn-border-only {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  outline: none !important;
}

  .btn-border-only:hover,
  .btn-border-only.active {
      border-color: var(--primary-color-hover);
      color: var(--primary-color-hover);
  }

.search-wrapper {
  position: relative;
}

.search-form {
  display: flex;
  align-items: stretch;
  width: 22rem;
  max-width: 100%;
  border-radius: var(--radius);
  overflow: hidden;
}

  .search-form input {
      outline: none;
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
      border: 1px solid var(--border-color);
      border-right: none;
      padding: 0.5rem 0.8rem;
      font-weight: 500;
      width: calc(100% - 3rem);
  }

  .search-form button {
      border: none;
      background: var(--primary-color);
      color: #fff;
      cursor: pointer;
      width: 3rem;
  }

  .search-form button:hover {
      background: var(--primary-color-hover);
  }

.search-result-wrapper {
  position: absolute;
  top: calc(100% + .3rem);
  right: 0;
  width: 100%;
  background: var(--primary-content-color);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  display: none;
  overflow: hidden;
}

.search-result-wrapper.show {
  display: block;
}

.search-result-list {
  overflow: hidden;
  overflow-y: auto;
  max-height: 30rem;
  width: 100%;
}

.search-result-item {
  padding: .5rem 1rem;
  cursor: pointer;
}

  .search-result-item:hover {
      background: var(--primary-color-hover);
  }

      .search-result-item:hover * {
          color: #fff;
      }


.display-grid {
  display: grid;
  grid-gap: .3rem
}

  .display-grid.columns-2 {
      grid-template-columns: repeat(2, 1fr);
  }

  .display-grid.columns-3 {
      grid-template-columns: repeat(3, 1fr);
  }

  .display-grid.columns-4 {
      grid-template-columns: repeat(4, 1fr);
  }

  .display-grid.columns-5 {
      grid-template-columns: repeat(5, 1fr);
  }

.filters-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-item {
  position: relative;
}

.filter-btn, .page-btn-reload {
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--primary-text-color);
  background: none;
  white-space: nowrap;
}

.page-btn-reload {
  padding: .7rem;
}

  .filter-btn:hover, .page-btn-reload:hover {
      background: var(--primary-color-hover);
      border-color: var(--primary-color-hover);
      color: #fff;
  }

  .filter-btn.active {
      background: var(--primary-content-color);
      border-color: var(--primary-color-hover);
      color: var(--primary-color-hover);
      font-weight: 500;
  }

.filter-contents {
  position: absolute;
  top: calc(100% + 0.2rem);
  left: 0;
  background: var(--primary-content-color);
  color: var(--primary-text-color);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  padding: 0.8rem;
  min-width: 100%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

  .filter-contents.show {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: opacity .3s ease;
  }

.filter-content-header {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0 .5rem 0;
}

.filter-content-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: .4rem .6rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  white-space: nowrap;
  cursor: pointer;
}

  .filter-content-item:hover,
  .filter-content-item.active,
  .filter-content-item:has(input[type="checkbox"]:checked),
  .filter-content-item:has(input[type="radio"]:checked) {
      background: var(--primary-color-hover);
      border-color: var(--primary-color-hover);
      color: #fff;
  }

.filter-action-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: .3rem;
  margin-top: 1rem;
}

.filter-submit-action,
.filter-cancel-action {
  font-weight: 500;
  padding: .4rem .8rem;
}

.filter-submit-action {
  border: 2px solid var(--color-blue);
}

.filter-cancel-action {
  outline: none !important;
  border: 2px solid var(--color-red);
  color: var(--color-red);
  background: #fff;
}

.pagination-box {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.pagination-item {
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: var(--primary-text-color);
  display: grid;
  place-items: center;
}

.pagination-item:hover,
.pagination-item.current {
  background: var(--primary-color-hover);
  color: #fff;
}

.page-content-box {
  background: var(--primary-content-color);
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  padding: 1rem;
}

.no-border {
  border: none !important;
}

.page-content-header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.page-search-form {
  display: flex;
  gap: .5rem;
  align-items: stretch;
  position: relative;
}

.page-search-form form {
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

  .page-search-form form input {
      font-weight: 500;
      border: none;
      outline: none;
      padding: 0.5rem 1rem 0.5rem 0;
      flex-grow: 1;
  }

  .page-search-form i {
      display: grid;
      place-items: center;
      width: 3rem;
      color: #757575;
  }

.btn-view-more {
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  font-weight: 500;
  background: none;
}

.page-search-results {
  position: absolute;
  top: calc(100% + .3rem);
  left: 0;
  width: 100%;
  border-radius: var(--radius);
  background: var(--primary-content-color);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  overflow-y: auto;
  max-height: 30rem;
  display: none;
}

.page-search-results.show {
  display: block;
}

.page-search-result-item label {
  padding: .5rem 1rem;
  cursor: pointer;
}

  .page-search-result-item label:hover,
  .page-search-result-item input:checked ~ label {
      background-color: var(--checked-label-bg);
      color: #fff;
  }

.text-product-name {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.text-price {
  font-size: 1rem;
  font-weight: 600;
  color: #0859ec;
}

.order-item-input {
  width: 6rem;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.page-dropdown {
  position: relative;
}

.page-dropdown-btn {
  min-width: 4rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

  .page-dropdown-btn:hover {
      border-color: var(--primary-color-hover);
      color: var(--primary-color-hover);
  }

  .page-dropdown-btn span {
      flex-grow: 1;
      padding: 0.5rem 1rem;
      white-space: nowrap;
  }

  .page-dropdown-btn i {
      width: 1.5rem;
  }

.page-dropdown-content {
  position: absolute;
  top: calc(100% + .1rem);
  background: var(--primary-content-color);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  min-width: 100%;
  max-height: 15rem;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2;
  transition: opacity .3s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

   .page-dropdown-content.left {
       left: 0;
   }

   .page-dropdown-content.right {
       right: 0;
   }

  .page-dropdown-content.show {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
  }

.page-dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background .3s ease;
  white-space: nowrap;
}

  .page-dropdown-item:hover,
  .page-dropdown-item.selected {
      background: var(--primary-active-bg-color);
  }


.view-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: .3rem;
}

.product-card {
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  overflow: hidden;
  position: relative;
  padding: .5rem;
}

  .product-card:hover {
      border-color: var(--primary-color-hover);
  }

.product-card__image {
  width: 100%;
  aspect-ratio: 1;
}

.product-card__image img {
  width: 100%;
}

.lazy-loading img {
  filter: blur(6px);
  background: #d7d7d7;
}

  .lazy-loading img.img-loaded {
      filter: none;
      background: #ffffff;
      transition: all 1s ease;
  }


.hidden-action {
  display: none !important;
}

.hidden-action.show {
  display: flex !important;
  flex-wrap: wrap;
  gap: .5rem;
}

.box-shadow {
  box-shadow: 1px 1px 5px #7070707b;
}


.preview-image-box {
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.preview-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* --------------------- */
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
      width: 0;
      height: 0;
  }
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
      width: 4px;
      height: 4px;
  }

  ::-webkit-scrollbar-thumb {
      background: #b0b0b0;
      border-radius: 3px;
  }

      ::-webkit-scrollbar-thumb:hover {
          background: #c3c3c3;
      }
}
