<div class="col-md-12">
    <img [src]="storeInfo.Logo" class="logo"  onerror="this.style.display='none';"/>
    <ul class="list-unstyled m-none" style="float:left; height:100%">
        <li>
            <strong><span class="text-uppercase">{{storeInfo.SiteName}}</span></strong>
        </li>
        <li>
            <em>Địa chỉ: {{storeInfo.AddressSite}}</em>
        </li>
        <li>
            <em>Điện thoại: {{storeInfo.PhoneSite}} <span *ngIf="storeInfo.FaxSite == null">– Fax: {{storeInfo.FaxSite}}</span></em>
        </li>
        <li>
                <em *ngIf="storeInfo.TaxNumberSite == null">MST: {{storeInfo.TaxNumberSite}}</em>
            </li>
    </ul>
</div>
