<div class="wrap-main w-clear">
    <div class="chitiet-nd">
        <div class="title-main"><span>Giới thiệu</span></div>
        <div class="content-main autoHeight w-clear" id="toc-content">
            <p style="text-align: justify;">
                <strong>Xin gửi lời cảm ơn chân thành đến quý Công ty, khách hàng đã tin tưởng chúng tôi trong suốt thời gian vừa qua.</strong> 
                Với hơn 10 năm kinh nghiệm trong lĩnh vực sửa điện công nghiệp cho các nhà máy và xí nghiệp.Chúng tôi tự hào là một trong những đơn vị cung cấp dịch vụ sửa chữa điện công nghiệp uy tín chất lượng nhất tại Hồ Chí Minh.
            </p>
            <h3 style="color:#0000FF;">CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ KHANG NGHỊ</h3>
            <ul>
                <li>Sửa điện cho tất cả dòng máy điện công nghiệp nhẹ và nặng</li>
                <li>Thi công lắp đặt hệ thống nhà xưởng</li>
                <li>Thiết kế đấu tủ bù công suất phản kháng bù cosphi</li>
                <li>Cân bằng 3 pha cho các cơ sở sản xuất</li>
                <li>Làm tủ điện theo yêu cầu khách hàng</li>
                <li>Nâng cấp lên chương trình máy PLC, biến tần, servo</li>
                <li>Sửa chữa, di dời máy sản xuất</li>
                <li>Sửa chữa máy ép thổi chai nhựa</li>
                <li>Sửa máy ó keo nhựa</li>
                <li>Đấu tụ bù cosphi</li>
                <li>Đấu tủ điều khiển cho các dòng máy công nghiệp</li>
                <li>Xử lý hệ thống thủy lực cho ngành công nghiệp nặng</li>
                <li>Di dời đấu nối điện cho máy</li>
                <li>Xử lý sự cố quá tải chập điện nhà máy</li>
                <li>Xử lý hệ thống điện lò hơi áp suất,...</li>
            </ul>
            <div class="images" style="text-align: center;">
                <img src="https://i.imgur.com/6Rb5vBe.png" alt="Công ty Long Gia" width="100%">
                <img src="https://i.imgur.com/vsSd6gT.png" alt="Công ty Long Gia" width="100%">
                <img src="https://i.imgur.com/7x64wxI.png" alt="Công ty Long Gia" width="100%">
            </div>
            <h3 style="color: rgb(178, 34, 34);">CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ KHANG NGHỊ</h3>
            <p>Văn phòng: 124/4 tổ 6,KP1 đường Lê Văn Khương, phường Hiệp Thành,Quận 12,TPHCM</p>
            <p>MST: 0317314936</p>
            <p>Hotline: 0979 700 004 -Mr Châu</p>
            <p>Email: khangnghibusiness&#64;gmail.com</p>
            <p>Website: <a href="" target="_blank">Yourwebite.vn</a></p>
        </div>
    </div>
    <div class="share">
        <b>Chia sẻ:</b>
        <div class="social-plugin w-clear">
            <a class="a2a_dd" href="https://www.addtoany.com/share#url=https%3A%2F%2Fsuadiencongnghiep.vn%2Fgioi-thieu&amp;title=Share">Share</a>
            <a class="a2a_button_facebook" href="/#facebook" target="_blank" rel="nofollow noopener">Facebook</a>
            <a class="a2a_button_twitter" href="/#twitter" target="_blank" rel="nofollow noopener">Twitter</a>
        </div>
    </div>
</div>
