<div class="row" >
  <div class="left-pro-detail col-md-6 col-lg-5 mb-4">
    <a id="Zoom-1" class="MagicZoom" data-options="zoomMode: on; hint: off; rightClick: true; selectorTrigger: hover; expandCaption: false; history: false;" href="https://suadiencongnghiep.vn/thumbs/540x540x2/upload/product/aptomat-khoi-160a-mccb-nxm-2142.jpg">
       <img onerror="this.src='https://suadiencongnghiep.vn/thumbs/540x540x2/assets/images/noimage.png';" src="https://suadiencongnghiep.vn/watermark/product/540x540x2/upload/product/aptomat-khoi-160a-mccb-nxm-2142.jpg" alt="Aptomat Khối 160A MCCB NXM" width="540" height="540" style="max-width: 540px; max-height: 540px;">
    </a>
  </div>
  <div class="right-pro-detail col-md-6 col-lg-7 mb-4">
    <p class="title-pro-detail mb-2">Aptomat Khối 160A MCCB NXM</p>
    <div class="desc-pro-detail">
      Thông Số<br>
      ✔️ Tiêu Chuẩn: IEC/EN 60947-2<br>
      ✔️ Dòng Định Mức:160A, 200A, 250A<br>
      ✔️ Số Pha: 3P.<br>
      ✔️ Điện Áp Cách Điện: 800V.<br>
      ✔️ Điện Áp Làm Việc: 220-415VAC 50/60Hz.<br>
      ✔️ Dòng Ngắn Mạch: 36kA<br>
      ✔️ Kích Thước (RxCxS): 105 X 165 X 97 (Gồm Cần Gạt) Mm<br>
      ✔️ Hàng Chính Hãng CO CQ Đầy Đủ<br>
      ✔️ Bảo Hành 12 Tháng
    </div>
    <ul class="attr-pro-detail">
      <li class="w-clear">
        <label class="attr-label-pro-detail">Giá:</label>
        <div class="attr-content-pro-detail">
          <span class="price-new-pro-detail">Liên hệ</span>
        </div>
      </li>
      <li class="w-clear">
        <label class="attr-label-pro-detail">Lượt xem:</label>
        <div class="attr-content-pro-detail">71</div>
      </li>
    </ul>
  </div>
</div>
<div class="tabs-pro-detail">
  <div class="chitiet-nd">
        <ul class="nav nav-tabs" id="tabsProDetail" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="info-pro-detail-tab" data-toggle="tab" href="#info-pro-detail" role="tab">Thông tin sản phẩm</a>
      </li>
      
    </ul>
    <div class="tab-content pt-4 pb-4" id="tabsProDetailContent">
      <div class="tab-pane fade show active" id="info-pro-detail" role="tabpanel">
        <div class="autoHeight w-clear" id="toc-content">
          <p style="text-align: justify;">
            <span style="font-size:16px;">Aptomat Dạng Khối MCCB NXM 25/1600A<br> NXM-250S</span>
          </p>
          <p style="text-align: justify;">
            <span style="font-size:16px;"><strong>Thông Số</strong><br>
              ✔️ Tiêu Chuẩn: IEC/EN 60947-2<br>
              ✔️ Dòng Định Mức:160A, 200A, 250A<br>
              ✔️ Số Pha: 3P.<br>
              ✔️ Điện Áp Cách Điện: 800V.<br>
              ✔️ Điện Áp Làm Việc: 220-415VAC 50/60Hz.<br>
              ✔️ Dòng Ngắn Mạch: 36kA<br>
              ✔️ Kích Thước (RxCxS): 105 X 165 X 97 (Gồm Cần Gạt) Mm<br>
              ✔️ Hàng Chính Hãng CO CQ Đầy Đủ<br>
              ✔️ Bảo Hành 12 Tháng
            </span>
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>
