<div class="row" >
  <div class="left-pro-detail col-md-6 col-lg-5 mb-4">
    <a id="Zoom-1" class="MagicZoom" data-options="zoomMode: on; hint: off; rightClick: true; selectorTrigger: hover; expandCaption: false; history: false;" href="https://thietbibenthanh.com/uploads/images/2019/06/1561444596-single_product1-mcbeasy9schneider.jpg">
       <img onerror="this.src='https://thietbibenthanh.com/uploads/images/2019/06/1561444596-single_product1-mcbeasy9schneider.jpg';" src="https://thietbibenthanh.com/uploads/images/2019/06/1561444596-single_product1-mcbeasy9schneider.jpg" alt="Aptomat Khối 160A MCCB NXM" width="540" height="540" style="max-width: 540px; max-height: 540px;">
    </a>
  </div>
  <div class="right-pro-detail col-md-6 col-lg-7 mb-4">
    <p class="title-pro-detail mb-2">Aptomat MCB Easy9 Schneider</p>
    <div class="desc-pro-detail">
      Thông Số<br>
      ✔️ Chứng nhận quốc tế ISO 9001, ISO 14000, IEC 898.<br><br>

      ✔️Thiết kế bền bỉ, dễ lắp đặt và thay thế.<br><br>
      
      ✔️Bảo vệ tối ưu khỏi ngắn mạch và quá tải.<br><br>
      
      ✔️Nguyên liệu an toàn, thân thiện với môi trường.<br><br>
      
      ✔️Giá thành cạnh tranh, hiệu quả kinh tế cao.<br><br>
      
    </div>
    <ul class="attr-pro-detail">
      <li class="w-clear">
        <label class="attr-label-pro-detail">Giá:</label>
        <div class="attr-content-pro-detail">
          <span class="price-new-pro-detail">Liên hệ</span>
        </div>
      </li>
      <li class="w-clear">
        <label class="attr-label-pro-detail">Lượt xem:</label>
        <div class="attr-content-pro-detail">71</div>
      </li>
    </ul>
  </div>
</div>
<div class="tabs-pro-detail">
  <div class="chitiet-nd">
        <ul class="nav nav-tabs" id="tabsProDetail" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="info-pro-detail-tab" data-toggle="tab" href="#info-pro-detail" role="tab">Thông tin sản phẩm</a>
      </li>
      
    </ul>
    <div class="tab-content pt-4 pb-4" id="tabsProDetailContent">
      <div class="tab-pane fade show active" id="info-pro-detail" role="tabpanel">
        <div class="autoHeight w-clear" id="toc-content">
          <p style="text-align: justify;">
            <span style="font-size:16px;">Aptomat MCB Easy9 Schneider<br> NXM-250S</span>
          </p>
          <p style="text-align: justify;">
            <span style="font-size:16px;"><strong>Thông Số</strong><br>
            
              ✔️ Chứng nhận quốc tế ISO 9001, ISO 14000, IEC 898.<br><br>
        
              ✔️Thiết kế bền bỉ, dễ lắp đặt và thay thế.<br><br>
              
              ✔️Bảo vệ tối ưu khỏi ngắn mạch và quá tải.<br><br>
              
              ✔️Nguyên liệu an toàn, thân thiện với môi trường.<br><br>
              
              ✔️Giá thành cạnh tranh, hiệu quả kinh tế cao.<br><br>
              
            </span>
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>
