<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://suadiencongnghiep.vn/thumbs/1366x560x1/upload/photo/slide-5-6707.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://suadiencongnghiep.vn/thumbs/1366x560x1/upload/photo/slide-5-6707.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item">
      <img src="https://suadiencongnghiep.vn/thumbs/1366x560x1/upload/photo/slider1-14120.png" class="d-block w-100" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p class="text-center display-4 font-weight: bold;" style="color: #007bff;">DỊCH VỤ</p>
<div class="row">
  <div *ngFor="let service of services" class="col-sm-3 d-flex flex-column align-items-center">
    <img [src]="service.image" alt="{{ service.name }}" class="img-fluid product-image">
    <h3>{{ service.name }}</h3>
  </div>
</div>

<p class="text-center display-4 font-weight: bold;" style="color: #007bff;">SẢN PHẨM</p>
<div class="row">
  <div  *ngFor="let product of products" class="col-sm-3 d-flex flex-column align-items-center">
    <img [src]="product.image" alt="{{ product.name }}" class="img-fluid product-image">
    <h3>{{ product.name }}</h3>
    <a [routerLink]="['/product-detail']">Xem chi tiết</a>
  </div>
  
</div>
