<ng-container *ngIf="data!">
    <p-dialog
        #DetailReferDialog
        [(visible)]="isVisible" 
        [modal]="true"
        class="history-dialog" 
        [breakpoints]="{ '1199px': '75vw', '575px': '50vw' }" 
        styleClass="dialog-llg" 
        [resizable]="false"
        (onHide)="close()">
        <ng-template pTemplate="header" class="p-2">
            <div class="inline-flex align-items-center w-full f gap-2 border-bottom-1">
                <span class="font-bold white-space-nowrap text-xl">
                    {{data.master.InvoiceName}}
                </span>
            </div>
        </ng-template>
        <div class="row w-full">
            <div class="col-sm-6 align-items-center justify-content-center">
                <div class="form-horizontal">
                    <!--Xuất Bán hàng, trả hàng NCC-->
                    <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_SALEINVOICE || data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_PURCHASERETURN
                                    || data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_SALEINVOICECOST || data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_PURCHASERETURNCOST">
                        <!--Xuất bán hàng-->
                        <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_SALEINVOICE || data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_SALEINVOICECOST">
                            <div class="row form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">Số CT bán hàng</label>
                                <div class="col-sm-7 col-md-8">
                                    {{data.master.RefCode}}
                                </div>  
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">Khách hàng</label>
                                <div class="col-sm-7 col-md-8">
                                    {{data.master.ObjectName}}
                                </div>
                            </div>
                        </div>
                        <!--END: Xuất bán hàng-->
                        <!--Xuất trả hàng-->
                        <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_PURCHASERETURN || data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_PURCHASERETURNCOST">
                            <div class="row form-group">
                                <label class="col-sm-5 control-label text-right">Số CT trả hàng</label>
                                <div class="col-sm-7">
                                    {{data.master.RefCode}}
                                </div>  
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-5 col-md-4 col-lg-3 control-label">Nhà cung cấp</label>
                                <div class="col-sm-7 col-md-8">
                                    {{data.master.ObjectName}}
                                </div>
                            </div>
                        </div>
                        <!--END: Xuất trả hàng-->
                    </div>
                    <!--END: Xuất Bán hàng, trả hàng NCC-->
                    <!--Xuất chuyển kho-->
                    <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_TRANSFER || data.isStockOutExtend == true">
                        <div class="row form-group" *ngIf="data.master.RefCode != null || data.master.RefCode != ''">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Số CT yêu cầu CK</label>
                            <div class="col-sm-7 col-md-8">{{data.master.RefCode}}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Kho chuyển</label>
                            <div class="col-sm-7 col-md-8" >{{data.master.StockName}}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Kho nhận</label>
                            <div class="col-sm-7 col-md-8" >{{data.master.ToStockName}}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">CT tham chiếu</label>
                            <div class="col-sm-7 col-md-8">
                                <span *ngFor="let refer of data.master.ReferList">
                                    {{refer.StockInCode}},&nbsp;
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--END: Xuất chuyển kho-->
                    <!--Xuất Hủy hàng-->
                    <div class="row form-group" *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_CANCEL">
                        <label class="col-sm-5 col-md-4 col-lg-3 control-label">Lý do hủy</label>
                        <div class="col-sm-7 col-md-8">{{data.master.CauseAnalytics}}</div>
                    </div>
                    <!--END: Xuất Hủy hàng-->
                    <!--Xuất khuyến mãi-->
                    <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_PROMOTIONSALEINVOICE">
                        <div class="form-group row">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Người yêu cầu xuất</label>
                            <div class="col-sm-7 col-md-8">{{data.master.ObjectName}}</div>
                        </div>
                    </div>
                    <!--END: Khuyến mãi-->
                    <!--Xuất Biếu tặng-->
                    <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_DONATE">
                        <div class="form-group row">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Người yêu cầu xuất</label>
                            <div class="col-sm-7 col-md-8">{{data.master.ObjectName}}</div>
                        </div>
                    </div>
                    <!--END: Biếu tặng-->
                    <!--Xuất mẫu -->
                    <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_SAMPLE">
                        <div class="form-group row">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Người yêu cầu xuất</label>
                            <div class="col-sm-7 col-md-8" ng-bind="data.master.ObjectName"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Lý do xuất</label>
                            <div class="col-sm-7 col-md-8" >{{data.master.CauseAnalytics}}</div>
                        </div>
                    </div>
                    <!--END: xuất mẫu-->
                    <!--mượn-->
                    <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_BORROW">
                        <div class="form-group row">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Tên đối tượng</label>
                            <div class="col-sm-7 col-md-8" >{{data.master.ObjectName}}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Người nhận</label>
                            <div class="col-sm-7 col-md-8" >{{data.master.Transporter}}</div>
                        </div>
                    </div>
                    <!--END: mượn-->
                    <!--Xuất sử dụng-->
                    <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_USE || data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_USENONCOST">
                        <div class="form-group row">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Nhân viên</label>
                            <div class="col-sm-7 col-md-8" ng-bind="">{{data.master.ObjectName}}</div>
                        </div>
                    </div>
                    <!--END: Sử dụng-->
                    <div class="form-group row" *ngIf="data.master.Type != Constant.Inventory.INV_STOCKOUTTYPE_TRANSFER">
                        <label class="col-sm-5 col-md-4 col-lg-3 control-label">Kho xuất</label>
                        <div class="col-sm-7 col-md-8">{{data.master.StockName}}</div>
                    </div>
                    <div *ngIf="data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_SALEINVOICE || data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_PURCHASERETURN
                        || data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_SALEINVOICECOST || data.master.Type == Constant.Inventory.INV_STOCKOUTTYPE_PURCHASERETURNCOST">
                        <div class="form-group row" *ngIf="data.master.Type != Constant.Inventory.INV_STOCKOUTTYPE_SALEINVOICECOST && data.master.Type != Constant.Inventory.INV_STOCKOUTTYPE_PURCHASERETURNCOST">
                            <label class="col-sm-5 col-md-4 col-lg-3 control-label">Người nhận</label>
                            <div class="col-sm-7 col-md-8">{{data.master.Transporter}}</div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="data.master.Type != Constant.Inventory.INV_STOCKOUTTYPE_SALEINVOICECOST && data.master.Type != Constant.Inventory.INV_STOCKOUTTYPE_PURCHASERETURNCOST">
                        <label class="col-sm-5 col-md-4 col-lg-3 control-label">Ghi chú</label>
                        <div class="col-sm-7 col-md-8" ng-bind="">{{data.master.Notes}}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 offset-md-1 align-items-center justify-content-center">
                <div class="form-horizontal">
                    <div class="row form-group">
                        <label class="col-sm-6 control-label">Số chứng từ</label>
                        <div class="col-sm-6">{{data.master.StockOutCode}}</div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-6 control-label">Ngày chứng từ</label>
                        <div class="col-sm-6">
                            {{data.master.VoucherDate}}
                            <!-- <span [appFormatDate]="'12/05/2022'" format="timeSecondFilter"></span> -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-6 control-label">Ngày hạch toán</label>
                        <div class="col-sm-6">
                            {{data.master.AccountingDate}}
                            <!-- <span [appFormatDate]="'12/08/2022'" format="timeSecondFilter"></span> -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-6 control-label">Ngày tạo</label>
                        <div class="col-sm-6">
                            {{data.master.CreatedDate}}
                            <!-- <span [appFormatDate]="'12/11/2022'" format="timeSecondFilter"></span> -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-6 control-label">Người tạo</label>
                        <div class="col-sm-6">
                            {{data.master.EmployeeFullName}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-6 control-label">Trạng thái</label>
                        <div class="col-sm-6">
                            {{data.master.StatusName}}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row w-full">
            <p-table
                #tb 
                [value]="data.details | orderBy:'predicate':'reverse'"
                tableStyleClass="table-edit table"
                scrollHeight="60vh">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="order-number">#</th>
                        <th class="code-lg">Barcode</th>
                        <th class="code-md">Mã hàng</th>
                        <th class="text-sm">Tên hàng</th>
                        <th class="number-xs">ĐVT</th>
                        <th class="quantity-xs">Số lượng</th>
                        <th>Ghi chú</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-o let-index="rowIndex">
                    <tr >
                        <td class="order-number">{{index+1}}</td>
                        <td class="code-lg">
                            {{o.Barcode}}
                        </td>
                        <td class="code-md">{{o.ProductCode}}</td>
                        <td class="text-sm">{{o.ProductName}}</td>
                        <td class="number-xs">
                            {{o.UnitName}}
                        </td>
                        <td class="number-xs">
                            <span [appFormatNumber]="o.Quantity" format="currency"></span>
                        </td>
                        <td>
                            {{o.Notes}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12" class="empty-message" >Không có dữ liệu.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- <div class="row w-full">
            <div class="col-sm-5 col-md-4 col-lg-3 offset-md-8 offset-lg-9 text-right group-amount">
                <dl class="total-amount border-none">
                    <dt>Thành tiền</dt>
                    <dd class="ng-binding">6.633.000</dd>
                </dl>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 offset-md-8 offset-lg-9 text-right group-amount">
                <dl class="total-amount border-none">
                    <dt>Chiết khấu</dt>
                    <dd class="ng-binding">0</dd>
                </dl>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 offset-md-8 offset-lg-9 text-right group-amount">
                <dl class="total-amount border-none">
                    <dt>Tổng tiền</dt>
                    <dd class="ng-binding">6.633.000 VND</dd>
                </dl>
            </div>
        </div> -->
        <ng-template pTemplate="footer">
            <div class="border-top-1">
                <p-button 
                label="Đóng" 
                severity="success" 
                (onClick)="isVisible = false" /> 
            </div>
                
        </ng-template>
    </p-dialog>
</ng-container>