.spaceDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}