<ng-container *ngIf="data.priceListDetail && initialData">
    <div id="printSession" class="print-style hidden">
        <div class="row">
            <div class="col-8 py-0">
                <app-rpt-header></app-rpt-header>
            </div>
            <div class="col-4 py-0">
                <ul class="list-unstyled text-right">
                    <li><strong>Số CT: </strong>{{ data.priceListDetail.PriceListCode }}</li>
                    <li><strong>Ngày: </strong><span [appFormatDate]="initialData.toDay" format="dateFilter"></span></li>
                </ul>
            </div>
        </div>
        <div class="row headerSession">
            <div class="titleHeader">
                <ul class="list-unstyled">
                    <li class="text-center text-uppercase font-medium">
                        Bảng giá
                    </li>
                </ul>
            </div>
        </div>
        <div class="row spaceDiv relative">
            <div class="col-8">
                <ul class="list-unstyled">
                    <li><strong>Tên bảng giá: </strong><span class="text-uppercase">{{data.priceListDetail.PriceListName}}</span></li>
                    <li><strong>Mã bảng giá: </strong><span class="text-uppercase">{{data.priceListDetail.PriceListCode}}</span></li>
                    <li><strong>Loại bảng giá: </strong><span>{{ data.priceListDetail.PriceListType == 1 ? 'Bảng giá thường' : 'Bảng giá ưu tiên' }}</span></li>
                    <li><strong>Độ ưu tiên: </strong><span>{{ data.priceListDetail.Priority == 1? 'Cao nhất': (data.priceListDetail.Priority == 2? 'Cao': (data.priceListDetail.Priority == 3? 'Trung bình': (data.priceListDetail.Priority == 3? 'Thấp': 'Thấp nhất'))) }}</span></li>
                    <li><strong>Ghi chú: </strong>{{data.priceListDetail.Notes}}</li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="list-unstyled">
                    <li><strong>Ngày bắt đầu: </strong><span [appFormatDate]="data.priceListDetail.FromDate" format="dateTimeFilter"></span></li>
                    <li><strong>Ngày kết thúc: </strong><span [appFormatDate]="data.priceListDetail.ToDate" format="dateTimeFilter"></span></li>
                    <li><strong>Loại điều chỉnh: </strong><span> {{ data.priceListDetail.AdjustType == 1 ? 'Tăng' : 'Giảm' }} </span><span> {{ data.priceListDetail.AdjustPercentType == 1 ? '%': 'Số tiền' }} </span> <span> {{ data.priceListDetail.AdjustPercentType == 1 ? data.priceListDetail.AdjustPercent : data.priceListDetail.AdjustAmount }} </span></li>
                    <li><strong>Phí vận chuyển: </strong>{{data.priceListDetail.ShippingFee}}</li>
                    <li><strong>Phí khác: </strong>{{data.priceListDetail.ExtraFee}}</li>
                </ul>
            </div>
        </div>
        <h4 *ngIf="invoice.customerTypes.length != 0">Loại khách hàng</h4>
        <div class="">
            <div id="" class="position-relative table m-0" >
                <table class="table table-edit" *ngIf="invoice.customerTypes.length != 0">
                    <thead>
                        <tr>
                            <th class="text-center white-space-nowrap">#</th>
                            <th class="text-center white-space-nowrap">Mã loại</th>
                            <th class="text-center white-space-nowrap">Tên loại</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detail of invoice.customerTypes; let i = index">
                            <td>{{ i + 1}}</td>
                            <td class="text-left white-space-nowrap">{{detail.RefCode}}</td>
                            <td class="text-left">{{detail.RefName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h4 *ngIf="invoice.customerGroups.length != 0">Nhóm khách hàng</h4>
        <div class="">
            <div id="" class="position-relative table m-0" >
                <table class="table table-edit" *ngIf="invoice.customerGroups.length != 0">
                    <thead>
                        <tr>
                            <th class="text-center white-space-nowrap">#</th>
                            <th class="text-center white-space-nowrap">Mã nhóm</th>
                            <th class="text-center white-space-nowrap">Tên nhóm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detail of invoice.customerGroups; let i = index">
                            <td>{{ i + 1}}</td>
                            <td class="text-left white-space-nowrap">{{detail.RefCode}}</td>
                            <td class="text-left">{{detail.RefName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h4 *ngIf="invoice.customers.length != 0">Khách hàng</h4>
        <div class="">
            <div id="" class="position-relative table m-0" >
                <table class="table table-edit" *ngIf="invoice.customers.length != 0">
                    <thead>
                        <tr>
                            <th class="text-center white-space-nowrap">#</th>
                            <th class="text-center white-space-nowrap">Mã KH</th>
                            <th class="text-center white-space-nowrap">Tên KH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detail of invoice.customers; let i = index">
                            <td>{{ i + 1}}</td>
                            <td class="text-left white-space-nowrap">{{detail.RefCode}}</td>
                            <td class="text-left">{{detail.RefName}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h4 *ngIf="invoice.productGroups.length != 0">Nhóm hàng</h4>
        <div class="">
            <div id="" class="position-relative table m-0" >
                <table class="table table-edit" *ngIf="invoice.productGroups.length != 0">
                    <thead>
                        <tr>
                            <th class="text-center white-space-nowrap">#</th>
                            <th class="text-center white-space-nowrap">Mã nhóm</th>
                            <th class="text-center white-space-nowrap">Tên nhóm</th>
                            <th class="text-center white-space-nowrap">Loại điều chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detail of invoice.productGroups; let i = index">
                            <td>{{ i + 1}}</td>
                            <td class="text-left white-space-nowrap">{{detail.RefCode}}</td>
                            <td class="text-left">{{detail.RefName}}</td>
                            <td><p class="flex flex-row justify-around items-center p-0 m-0"><span> {{ detail.AdjustType == 1 ? 'Tăng' : 'Giảm' }} </span><span> {{ detail.AdjustPercentType == 1 ? '%' : 'Số tiền' }} </span><span> {{ detail.AdjustPercentType == 1 ? detail.AdjustPercent : detail.AdjustAmount }} </span></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h4 *ngIf="invoice.products.length != 0">Hàng hóa</h4>
        <div class="">
            <div id="" class="position-relative table m-0" >
                <table class="table table-edit" *ngIf="invoice.products.length != 0">
                    <thead>
                        <tr>
                            <th class="text-center white-space-nowrap">#</th>
                            <th class="text-center white-space-nowrap">Mã hàng</th>
                            <th class="text-center white-space-nowrap">Tên hàng</th>
                            <th class="text-center white-space-nowrap">ĐVT</th>
                            <th class="text-center white-space-nowrap" *ngIf="initialData.includeCost">Giá vốn</th>
                            <th class="text-center white-space-nowrap" *ngIf="initialData.includeCost">Giá mua</th>
                            <th class="text-center white-space-nowrap">Giá hệ thống</th>
                            <th class="text-center white-space-nowrap" *ngIf="initialData.includeCost">Loại điều chỉnh</th>
                            <th class="text-center white-space-nowrap">Giá áp dụng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detail of invoice.products; let i = index">
                            <td>{{ i + 1}}</td>
                            <td class="text-left white-space-nowrap">{{detail.RefCode}}</td>
                            <td class="text-left">{{detail.RefName}}</td>
                            <td class="text-left white-space-nowrap">{{detail.UnitName}}</td>
                            <td class="text-right" *ngIf="initialData.includeCost"><span [appFormatNumber]="detail.Cost" format="currency"></span></td>
                            <td class="text-right" *ngIf="initialData.includeCost"><span [appFormatNumber]="detail.PurchasePrice" format="currency"></span></td>
                            <td class="text-right"><span [appFormatNumber]="detail.SystemPrice" format="currency"></span></td>
                            <td *ngIf="initialData.includeCost"><p class="flex flex-row justify-content-around items-center p-0 m-0"><span> {{ detail.AdjustType == 1 ? 'Tăng' : 'Giảm' }} </span><span>{{ detail.AdjustPercentType == 1 ? '%' : 'Số tiền' }}</span><span> {{ detail.AdjustPercentType == 1 ? detail.AdjustPercent : detail.AdjustAmount }}</span></p></td>
                            <td class="text-right"><span [appFormatNumber]="detail.SalePrice" format="currency"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>