<p-dropdown 
    *ngIf="type == 'source'"
    [disabled]="disabled"
    panelStyleClass="dropdown-filter"
    [ngClass]="styleClass"
    [options]='[
        {value:-1,label:"Tất cả"},
        {value:1,label:"Website"},
        {value:2,label:"Văn phòng"},
        {value:3,label:"Zalo"}
        ]'
    [(ngModel)]="sourceType"
    (onChange)="onSelected()"
    name="sourceType"
    optionValue="value"
    emptyFilterMessage="Không có dữ liệu"
    optionLabel="label" placeholder=""/>

<p-dropdown
    *ngIf="type == 'vatmethod'"
    [disabled]="disabled"
    panelStyleClass="dropdown-filter"
    [ngClass]="styleClass"
    [options]="[
        { label: 'Không lấy HĐ', value: 1 },
        { label: 'Trong ngày', value: 2 },
        { label: 'Cuối tuần', value: 3 },
        { label: 'Cuối Tháng', value: 4 }
    ]"
    [(ngModel)]="sourceType"
    (onChange)="onSelected()"
    name="sourceType"
    optionValue="value"
    emptyFilterMessage="Không có dữ liệu"
    optionLabel="label" placeholder=""/>

