<p-dialog *ngIf="data"
    [(visible)]="isVisible" 
    [modal]="true"
    class="history-dialog" 
    [breakpoints]="{ '1199px': '75vw', '575px': '50vw' }" 
    styleClass="dialog-llg" 
    [resizable]="false"
    (onHide)="close()">
    <ng-template pTemplate="header" class="p-2">
        <div class="inline-flex align-items-center w-full f gap-2 border-bottom-1">
            <span class="font-bold white-space-nowrap text-xl">
                PHIẾU ĐIỀU CHỈNH NGÂN HÀNG
            </span>
        </div>
    </ng-template>
    <div class="row w-full">
        <div class="col-sm-6 align-items-center justify-content-center">
            <div class="form-horizontal">
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Loại</label>
                    <div class="col-sm-7 col-md-8">
                        {{data.master.PaymentAdjustType==1?'Điều chỉnh tăng': 'Điều chỉnh giảm'}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Ghi chú</label>
                    <div class="col-sm-7 col-md-8" ng-bind="">{{data.master.Notes}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 align-items-center justify-content-center">
            <div class="form-horizontal">
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Số chứng từ</label>
                    <div class="col-sm-8">{{data.master.Code}}</div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Ngày chứng từ</label>
                    <div class="col-sm-8">
                        <span [appFormatDate]="data.master.VoucherDate" format="dateTimeFilter"></span>                                  
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Ngày hạch toán</label>
                    <div class="col-sm-8">
                        <span [appFormatDate]="data.master.AccountingDate" format="dateTimeFilter"></span> 
                    </div>
                </div>                                     
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Ngày tạo</label>
                    <div class="col-sm-8">
                        <span [appFormatDate]="data.master.CreatedDate" format="dateTimeFilter"></span> 
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Người tạo</label>
                    <div class="col-sm-8">
                        {{data.master.UserName}}
                    </div>
                </div>                                 
            </div>           
        </div>
    </div>
    <div class="row w-full">
        <p-table
            #tb 
            [value]="data.details | orderBy: 'predicate':'reverse'"
            tableStyleClass="table-edit table"
            scrollHeight="60vh">
            <ng-template pTemplate="header">
                <tr>
                    <th class="order-number">#</th>
                    <th class="code-sm">Số TK</th>
                    <th class="text-sm">Tên</th>
                    <th class="text-sm">Ngân hàng</th>
                    <th class="text-sm">Chi nhánh</th>
                    <th class="number-sm">Số tiền hiện tại</th>
                    <th class="number-sm">Số tiền thực tế</th>
                    <th class="number-sm">Chênh lệch</th>                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-o let-index="rowIndex">
                <tr >
                    <td class="text-center">{{index+1}}</td>
                    <td class="code-sm">{{o.AccountNumber}}</td>
                    <td class="text-sm">
                        {{o.AccountName}}
                    </td>
                    <td >{{o.BankName}}</td>
                    <td >{{o.BranchName}}</td>
                    <td class="text-right number-sm">
                        <span [appFormatNumber]="o.Amount" format="currency"></span>
                    </td>
                    <td class="text-right number-sm">
                        <span [appFormatNumber]="o.AmountActual" format="currency"></span>
                    </td>
                    <td class="text-right number-sm">
                        <span [appFormatNumber]="o.AmountDifference" format="currency"></span>
                    </td>                    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12" class="empty-message" >Không có dữ liệu.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template pTemplate="footer">
        <div class="border-top-1">
            <p-button 
            label="Đóng" 
            severity="success" 
            (onClick)="isVisible = false" /> 
        </div>            
    </ng-template>
</p-dialog>