<p-fileUpload
    name="file[]" 
    url="" 
    [accept]="accept"
    [disabled]="disabled"
    [multiple]="multiple" 
    maxFileSize="10000000" 
    [customUpload]="true"
    (uploadHandler)="onTemplatedUpload($event,'img')" 
    (onSelect)="onSelectedFiles($event)">
    <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
        <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
            <div class="flex gap-2">
                <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-file-import" [rounded]="true" [outlined]="true" />
                <p-button (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload" [rounded]="true" [outlined]="true" severity="success" [disabled]="!files || files.length === 0" />
                <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0" />
            </div>    
        </div>
    </ng-template>
    <ng-template pTemplate="content" let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
        <div *ngIf="files?.length > 0">
            <div style="max-height: 150px;overflow: auto;">
                <div *ngFor="let file of files; let i = index" class="row m-1 p-2 align-items-center">
                    <div class="col-11 font-semibold p-0">{{ file.name }}</div>
                    <img [src]="file" alt="">
                    <div class="col-1 p-0"><i class="pi pi-times cursor-pointer	" (click)="onRemoveTemplatingFile($event, file, removeFileCallback, i)"></i></div>                    
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="file"> </ng-template>

</p-fileUpload>