.ql-editor .ql-size-large {
    font-size: 1.2rem !important;
  }
  
  .ql-toolbar {
    z-index: 10;
    position: sticky;
    top: 0;
    background: #fff;
  }
  
  .ql-tooltip {
    z-index: 22;
  }
  
  .click-delete-image {
    overflow: hidden;
    text-decoration: none;
    color: #e30019;
    background: none;
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: none;
  }
  
  .product-image-box:hover .click-delete-image,
  .click-delete-image.show {
    display: grid;
    place-items: center;
  }
  
  a.page-btn {
    text-decoration: none;
  }
  