<div class="row" >
    <div class="col-sm-2 d-flex justify-content-center">
        <img class="text-center" src="https://suadiencongnghiep.vn/thumbs/116x116x2/upload/photo/rectangle-550-9044.png" alt="Image">
    </div>
    <div  class="col-sm-7">
        <h1 class="text-center text-primary">Công ty TNHH TM&KT Khang Nghị</h1>
        <h3 class="text-center"> Địa chỉ: 618/32/8 Âu Cơ,phường 11,quận Tân Bình ,TPHCM </h3>
    </div>
    <div class="col-sm-3 d-flex justify-content-center align-items-center">
            <div class="col-sm-2">
            <i class="fas fa-phone-volume fa-2x text-primary"></i>
            </div>
            <div class="col-sm-6">
            <span>Số điện thoại tư vấn: 0989807214</span>
            </div>
    </div>
</div>
<div id="menu" class="menu">
    <a href="#">Trang Chủ</a>
    <a href="#">Giới Thiệu</a>
    <a href="#">Dịch Vụ</a>
    <a href="#">Sản Phẩm</a>
    <a href="#">Hình Ảnh Công Trình</a>
    <a href="#">Tin Tức</a>
    <a href="#">Video</a>
    <a href="#">Liên Hệ</a>
    <a href="/register">Đăng nhập</a>
    <a href="#">Đăng ký</a>
    <div class="search-container">
        <input class="form-control me-2" type="search" placeholder="Nhập để tìm kiếm sản phẩm dịch vụ" aria-label="Search">
        <button class="btn btn-outline-success hover-effect" type="submit">Tìm</button>
    </div>
</div>

<router-outlet></router-outlet> 
  <app-footer></app-footer>
