<div class="row" >
    <div class="col-sm-3 d-flex justify-content-center">
        <img class="text-center" src="https://suadiencongnghiep.vn/thumbs/116x116x2/upload/photo/rectangle-550-9044.png" alt="Image">
    </div>
    
    <div  class="col-sm-6">
        <h1 class="text-center"> Công ty TNHH TM&KT Khang Nghị </h1>
        <h3 class="text-center"> Địa chỉ: 123 Nguyễn Văn Linh, Đà Nẵng </h3>
    </div>
    <div class="col-sm-3">
        <label>
            <i class="fas fa-phone-volume"></i><span>Số điện thoại tư vấn: 0989807214</span>
        </label>
    </div>
</div>
