<ng-container *ngIf="data.Order">
    <div id="printSession" class="print-style" style="display: none;">
        <div class="row">
            <div class="col-8 py-0">
                <app-rpt-header></app-rpt-header>
            </div>
            <div class="col-4 py-0">
                <ul class="list-unstyled text-right">
                    <li><strong>Số CT: </strong>{{data.Order.OrderCode}}</li>
                    <li><strong>Ngày CT: </strong><span [appFormatDate]="data.Order.VoucherDate" format="dateFilter"></span></li>            
                    <li><strong>Kho xuất: </strong>{{data.Order.StockName}}</li>             
                </ul>
            </div>
        </div>
        <div class="row headerSession">
            <div class="col-12 py-0">
                <ul class="list-unstyled">
                    <li class="text-uppercase text-center">{{data.OrderName}} - {{data.OrderPrintData.SaleCode}}</li>
                </ul>
            </div>
            
        </div>
        <div class="row">
            <div class="col-10 py-0 mb-3">
                <ul class="list-unstyled">
                    <!-- <li><strong>Nhân viên: </strong><span class="text-uppercase">{{data.Order.UserName}} - {{data.Order.OrderPhone}}</span></li> -->
                    <li><strong>Mã KH: </strong><span class="text-uppercase">{{data.Order.Code}}</span></li>
                    <li><strong>Tên KH: </strong><span class="text-uppercase">{{data.Order.CustomerName}}</span></li>
                    <!-- <li><strong>Ngày giao: </strong>
                        <span [appFormatDate]="data.Order.AccountingDate" format="dateTimeFilter"></span></li>
                    <li><strong>Ghi chú: </strong>{{ data.Order.Notes}}</li> -->
                    <li><strong>Địa chỉ giao hàng: </strong><span class="text-uppercase">{{data.Order.ShipAddress}}</span></li>
                </ul>
            </div>
            <div class="col-2 py-0 qrCode">
                <img [src]="data.OrderPrintData.Barcode" alt="" data-action="zoom" />
            </div>
            
        </div>
        <div class="">
            <div id="" class="position-relative table m-0" >
                <table class="table table-edit m-0">
                    <thead>
                        <tr>
                            <th>#</th>                
                            <th class="text-left" style="width:20px">Mã hàng</th>
                            <th class="text-left">Tên hàng</th>
                            <th class="text-center" style="width:50px">ĐVT</th>
                            <th class="text-center" style="width:30px">SL</th>
                            <th class="text-center">Đơn giá</th>
                            <!-- <th class="text-center">Giảm<br />(%)</th>
                            <th class="text-center">Giảm<br />giá</th> -->
                            <th class="text-center">Thành tiền</th>
                            <th class="text-center">CK(%)</th>
                            <th class="text-center">Thuế(%)</th>
                            <!-- <th class="text-center">VAT</th> -->
                            <th class="text-center">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(item of data.OrderDetails; track $index; let  i = $index){
                            <tr >
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{item.ProductCode}}</td>
                                <td>{{item.ProductName}}<br *ngIf="item.LocalName" /><i *ngIf="item.LocalName">({{item.LocalName}})</i></td>
                                <td>{{item.UnitName}}</td>
                                <td class="text-right font-bold" style="font-size: 15px;" [appFormatNumber]="item.Quantity" format="quantity" ></td>
                                <td class="text-right" [appFormatNumber]="item.Price" format="currency" ></td>
                                <!-- <td class="text-right" [appFormatNumber]="item.DiscountPercent" format="quantity" ></td>
                                <td class="text-right" [appFormatNumber]="item.DiscountAmount" format="currency" ></td> -->
                                <td class="text-right" [appFormatNumber]="item.Amount - item.DiscountAmount" format="currency" ></td>
                                <!-- <td class="text-right" [appFormatNumber]="item.TaxID == 1 ? 0 : item.TaxPercent" format="currency" ></td>     -->
                                <td class="text-right" [appFormatNumber]="item.DiscountPercent" format="quantity" ></td>
                                <td class="text-right" [appFormatNumber]="item.TaxPercent" format="currency" ></td>
                                <td>{{item.Notes}}{{item.Notes == null || item.Notes == '' ? '' : '-'}}{{item.UnitNotes}}</td>
                            </tr>
                        }       
                    </tbody>       
                </table>
            </div>
        </div>
        <div class="clearfix">
            <div class="row" >
                <div class="col-6 py-0">
                    <ul class="list-unstyled">
                        <li><strong>Ghi chú:</strong> {{ data.Order.Notes}} </li>
                        <li>
                            Đặt hàng: {{data.Order.UserName}} - {{data.Order.OrderPhone}}
                        </li>
                        <li *ngIf="data.Order.SalerName != ''">
                            {{data.Order.SalerName}}
                        </li>
                        <li *ngIf="data.Order.AccountantName != ''">{{data.Order.AccountantName}}</li>
        
                    </ul>
                </div>
                <div class="col-6 py-0">
                    <div class="row">
                        <span class="col-6 py-0 CompanyQRCode" style="position: relative">
                            <img [src]="data.OrderPrintData.PaymentQRCode" class="CompanyQRCode" *ngIf="data.OrderPrintData.PaymentQRCode != null && data.OrderPrintData.PaymentQRCode != ''" />
                            <span style="position: absolute; left: 0; bottom: -0px; font-size: 8px; width: 100%; white-space: nowrap">
                                Quét mã để thanh toán
                            </span>
                        </span>
                        <div class="pull-right py-0 col-5 col-offset-1">
                            <table class="table-amount">
                                <tbody>
                                    <tr>
                                        <td>Thành tiền:</td>
                                        <td class="text-right"><span [appFormatNumber]="data.Order.Amount - data.Order.TaxAmount" format="currency" class="text-right"></span></td>
                                    </tr>
                                    <!--Giảm giá hóa đơn-->
                                    <tr *ngIf="data.Order.DiscountAmount>0">
                                        <td>Giảm giá:</td>
                                        <td class="text-right">
                                            {{data.Order.DiscountAmount>0?'-': ''}}
                                            <span [appFormatNumber]="data.Order.DiscountAmount" format="currency"></span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="data.Order.ChargeAmount>0">
                                        <td>Chi phí</td>
                                        <td class="text-right"><span [appFormatNumber]="data.Order.ChargeAmount" format="currency"></span></td>
                                    </tr>
                                    <tr *ngIf="data.OrderPrintData.TaxAmount5>0">
                                        <td>Thuế VAT 5%</td>
                                        <td class="text-right"><span [appFormatNumber]="data.OrderPrintData.TaxAmount5" format="currency"></span></td>
                                    </tr>
                                    <tr *ngIf="data.OrderPrintData.TaxAmount8>0">
                                        <td>Thuế VAT 8%</td>
                                        <td class="text-right"><span [appFormatNumber]="data.OrderPrintData.TaxAmount8" format="currency"></span></td>
                                    </tr>
                                    <tr *ngIf="data.OrderPrintData.TaxAmount10>0">
                                        <td>Thuế VAT 10%</td>
                                        <td class="text-right"><span [appFormatNumber]="data.OrderPrintData.TaxAmount10" format="currency"></span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Tổng tiền: </td>
                                        <td class="text-right"><span [appFormatNumber]="data.Order.TotalAmount" format="currency"></span>({{data.Order.CurrencyID}})</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="signature">
            <tr>
                <td colspan="4" style="text-align:left">
                    <b>
                        Bằng chữ: {{data.OrderPrintData.AmountDescription}}
                    </b>
                    <br />
                    <a *ngIf="data.OrderPrintData.PaymentContent != null">Chuyển khoản: {{data.OrderPrintData.PaymentContent}} tt SO-{{data.OrderPrintData.SaleCode}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong *ngIf="data.Order.DepositAmount == 0"> Hạn thanh toán: <span *ngIf="data.Order.PaymentTermID == 1"  >THANH TOÁN NGAY</span><span *ngIf="data.Order.PaymentTermID != 1"  [appFormatDate]="data.Order.DueDate" format="dateFilter"></span></strong><br />
                    <strong *ngIf="data.Order.DepositAmount > 0"> Đã trả trước: <span [appFormatNumber]="data.Order.DepositAmount" format="currency"></span></strong>
                    <!-- <p>Người nhận</p> --> <p>&nbsp;</p>
                
                </td>
                <td>
                    <p>Ngày giao: <span [appFormatDate]="data.Order.AccountingDate" format="dateTimeFilter"></span></p>
                    <strong>Tổng SL: <span [appFormatNumber]="data.OrderPrintData.TotalQuantity" format="quantity"></span></strong>
                    <p>Người giao: {{data.Order.ShipperName}}</p>
                </td>
                <td>
                    <p>{{data.OrderPrintData.PrintDateText}}</p>
                    <p>Người lập lúc: <span [appFormatDate]="data.OrderPrintData.PrintDate" format="timeFilter"></span> - {{data.OrderPrintData.PrintCount}} </p>
                    <p>{{data.Order.UserName}} </p>
                </td>
            </tr>
        </table>
        <div>
            <p class="text-center" style="font-style: italic; width: 100%;padding-top: 40px;padding-bottom: 10px;">Cảm Ơn Quý Khách Và Hẹn Gặp Lại.</p>
        </div>
    </div>
</ng-container>