<ng-container *ngIf="data.Order">
    <div id="printSession" class="print-style" style="display: none;">
       <div class="row">
           <div class="col-md-8">
               <app-rpt-header></app-rpt-header>
           </div>
           <div class="col-md-4">
               <ul class="list-unstyled text-right">
                   <li><strong>Số CT: </strong>{{data.Order.OrderCode}}</li>
                   <li><strong>Ngày CT: </strong><span [appFormatDate]="data.Order.VoucherDate" format="dateFilter"></span></li>            
                   <li><strong>Kho xuất: </strong>{{data.Order.StockName}}</li>             
               </ul>
           </div>
       </div>
       <div class="row headerSession">
           <div class="col-xs-12">
               <ul class="list-unstyled">
                   <li class="text-uppercase text-center">ĐƠN ĐẶT HÀNG - {{data.OrderPrintData.SaleCode}}</li>
               </ul>
           </div>
           
       </div>
   
       <div class="row">
           <div class="col-xs-10">
               <ul class="list-unstyled">
                   <!-- <li><strong>Nhân viên: </strong><span class="text-uppercase">{{data.Order.UserName}} - {{data.Order.OrderPhone}}</span></li> -->
                   <li><strong>Mã KH: </strong><span class="text-uppercase">{{data.Order.Code}}</span></li>
                   <li><strong>Tên KH: </strong><span class="text-uppercase">{{data.Order.CustomerName}}</span></li>
                   <!-- <li><strong>Ngày giao: </strong>
                       <span [appFormatDate]="data.Order.AccountingDate" format="dateTimeFilter"></span></li>
                   <li><strong>Ghi chú: </strong>{{ data.Order.Notes}}</li> -->
                   <li><strong>Địa chỉ giao hàng: </strong><span class="text-uppercase">{{data.Order.ShipAddress}}</span></li>
               </ul>
           </div>
           <div class="col-xs-2 qrCode">
               <img [src]="data.OrderPrintData.Barcode" alt="" data-action="zoom" />
           </div>
       </div>
       <div class="">
           <div id="" class="position-relative table " >
               <table class="table table-edit">
           <thead>
               <tr>
                   <th>#</th>                
                   <th class="text-center" style="width:20px">Mã hàng</th>
                   <th class="text-left">Tên hàng</th>
                   <th class="text-center" style="width:50px">ĐVT</th>
                   <th class="text-center" style="width:30px">SL</th>
                   <th class="text-center">Đơn<br />giá</th>
                   <!-- <th class="text-center">Giảm<br />(%)</th>
                   <th class="text-center">Giảm<br />giá</th> -->
                   <th class="text-center">Thành<br />tiền</th>
                   <th class="text-center">CK(%)</th>
                   <th class="text-center">Thuế(%)</th>
                   <!-- <th class="text-center">VAT</th> -->
                   <th class="text-center">Ghi chú</th>
               </tr>
           </thead>
           <tbody>
               @for(item of data.OrderDetails; track $index; let  i = $index){
                   <tr ng-repeat="row in invoice.details">
                       <td class="text-center">{{$index + 1}}</td>
                       <td>{{item.ProductCode}}</td>
                       <td>{{item.ProductName}}<br *ngIf="item.LocalName" /><i *ngIf="item.LocalName">({{item.LocalName}})</i></td>
                       <td>{{item.UnitName}}</td>
                       <td class="text-right" [appFormatNumber]="item.Quantity" format="quantity" ></td>
                       <td class="text-right" [appFormatNumber]="item.Price" format="currency" ></td>
                       <!-- <td class="text-right" [appFormatNumber]="item.DiscountPercent" format="quantity" ></td>
                       <td class="text-right" [appFormatNumber]="item.DiscountAmount" format="currency" ></td> -->
                       <td class="text-right" [appFormatNumber]="item.Amount - item.DiscountAmount" format="currency" ></td>
                       <!-- <td class="text-right" [appFormatNumber]="item.TaxID == 1 ? 0 : item.TaxPercent" format="currency" ></td>     -->
                       <td class="text-right" [appFormatNumber]="item.DiscountPercent" format="quantity" ></td>
                       <td class="text-right" [appFormatNumber]="item.TaxPercent" format="currency" ></td>
                       <td>{{item.Notes}}{{item.Notes == null || item.Notes == '' ? '' : '-'}}{{item.UnitNotes}}</td>
                       </tr>
               }       
               </tbody>
           <tfoot>
               <tr class="no-border">
                   <td colspan="4"></td>
                   <td class="text-left"
                       [appFormatNumber]="data.OrderPrintData.TotalQuantity"  format="quantity">
                   </td>
                   <td colspan="3" style="text-align: right">
                       Thành tiền:
                   </td>
                   <td colspan="2" style="text-align: right" 
                       [appFormatNumber]="data.Order.Amount - data.Order.TaxAmount"  format="currency">
                   </td>
                   <td></td>
               </tr>
   
               <tr *ngIf="data.Order.DiscountAmount>0" class="no-border">
                   <td colspan="4"></td>
                   <td></td>
                   <td colspan="3" style="text-align: right">
                       Giảm giá
                   </td>
                   <td colspan="2" style="text-align: right">
                       <span [appFormatNumber]="(data.Order.DiscountAmount)"  format="currency"></span>
                   </td>
                   <td></td>
               </tr>
               <tr *ngIf="data.Order.TaxAmount>0" class="no-border">
                   <td colspan="4"></td>
                   <td></td>
                   <td colspan="3" style="text-align: right">
                       Thuế VAT:
                   </td>
                   <td colspan="2" style="text-align: right" 
                   [appFormatNumber]="(data.Order.TaxAmount)"  format="currency">       
                   </td>
                   <td></td>
               </tr>
               <tr *ngIf="data.Order.ChargeAmount>0" class="no-border">
                   <td colspan="4"></td>
                   <td></td>
                   <td colspan="3" style="text-align: right">
                   lblChargeAmount
                   </td>
                   <td colspan="2" style="text-align: right"
                   [appFormatNumber]="data.Order.ChargeAmountt"  format="currency">   
                       
                   </td>
                   <td></td>
               </tr>
               <tr class="no-border">
                   <td colspan="4"></td>
                   <td></td>
                   <td colspan="3" style="text-align: right; font-weight: bold">
                       Tổng tiền:
                   </td>
                   <td colspan="2" style="text-align: right; font-weight: bold" [appFormatNumber]="data.Order.TotalAmount" format="currency">
                   </td>
                   <td style="text-align: left">({{data.Order.CurrencyID}})</td>
               </tr>
           </tfoot>
               </table>
           </div>
       </div>
           <table class="signature">
               <tr id="footerPrint">
                   <td>
                       <p><span>Người giao: {{data.Order.ShipperName}}</span></p>
                   </td>
                   <td>
                       <p>Thủ kho</p>
   
                   </td>
                   <td>
                       <p class="datePrint" >{{data.OrderPrintData.PrintDateText}}</p>
                       <p><span>{{printName}}</span>: <span [appFormatDate]="data.OrderPrintData.PrintDate" format="timeSecondFilter"></span><span *ngIf="data.OrderPrintData.PrintCount>1">- {{data.OrderPrintData.PrintCount}}</span></p>
   
                   </td>
               </tr>
           </table>
       </div>
   </ng-container>