<div class="chitiet-nd">
    <div class="title-main">
        <span>Chính sách</span>
    </div>
    <p class="title-pro-detail mb-2">Hỗ trợ khách hàng</p>
    <div class="time-main">
        <i class="fas fa-calendar-week"></i><span>Ngày đăng: 4 năm trước </span>
    </div>
    <div class="content-main autoHeight w-clear mt-3" id="toc-content">
        <p>
            <span style="line-height:2em; font-size:18px; font-family:arial,helvetica,sans-serif;">
                Quý khách khi có nhu cầu về dịch vụ sửa chữa bảo trì lắp đặt  điện công nghiệp, hay tư vấn thiết kế điện nhà xưởng, cứ nhấc máy lên gọi hoặc nhắn tin zalo "0979 700 004" Mr Châu,
                sẽ có đội ngũ bên sửa điện công nghiệp Khang Nghị hỗ trợ cho khách hàng.
                Chân thành cảm ơn quý khách hàng đã ủng hộ sửa điện công nghiệp Khang Nghị trong suốt thời gian qua.
            </span>
        </p>
    </div>
    <div class="share othernews mb-3">
        <b>Chính sách khác:</b>
        <ul class="list-news-other">
            <li><a class="text-decoration-none" href="/repair-quote" title="Báo giá sửa chữa">Báo giá sửa chữa - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="/terms-of-use" title="Điều khoản sử dụng">Điều khoản sử dụng - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="/warranty-policy" title="Chính sách bảo hành">Chính sách bảo hành - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="/privacy-policy" title="Chính sách bảo mật">Chính sách bảo mật - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="/shipping-policy" title="Chính sách vận chuyển">Chính sách vận chuyển - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="/information-usage" title="Sử dụng thông tin">Sử dụng thông tin - 30/05/2020</a></li>
        </ul>
        <div class="pagination-home w-100"></div>
    </div>
</div>
