<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    
  <p class="text-center display-4 font-weight: bold;" style="color: #007bff;">SẢN PHẨM</p>
  <div class="row">
    <div  *ngFor="let product of products" class="col-sm-3 d-flex flex-column align-items-center">
      <img [src]="product.image" alt="{{ product.name }}" class="img-fluid product-image">
      <h3>{{ product.name }}</h3>
      <a [routerLink]="['/product-detail']">Xem chi tiết</a>
    </div>
    
  </div>
  