
    <header class="px-3 d-flex align-items-center justify-content-between gap-3">
        <h4 class="m-0">Quản lý sản phẩm</h4>
    
        <div class="d-flex align-items-center gap-4">
            <div class="notification-wrapper position-relative">
                <a class="show-notification" href="javscript:void(0)">
                    <i class="fa-regular fa-bell"></i>
                </a>
                <div class="notification-content">
                    <p>Không có thông báo</p>
                </div>
            </div>
    
            <div class="user-wrapper position-relative">
                <div class="d-flex align-items-center gap-2">
                    <div class="user-image-wrapper">
                        <img src="/user-no-image.svg" alt="" />
                    </div>
                    <i class="show-user-action fa-solid fa-chevron-down cursor-pointer"></i>
                </div>
                <div class="user-action d-flex flex-column gap-2">
                    <a href="javascript:void(0)" class="text-nowrap d-flex align-items-center">
                        <i class="fa-solid fa-circle-info"></i>
                        <span>Thông tin nhân viên</span>
                    </a>
                    <a href="javascript:void(0)" class="text-nowrap d-flex align-items-center click-logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span>Đăng xuất</span>
                    </a>
                </div>
            </div>
    
        </div>
    </header>
<main>
    <section class="page-wrapper">

        <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
            <div class="filters-box flex-wrap">
                <div class="filter-item filter-all">
                    <div class="filter-btn">
                        <i class="fa-solid fa-filter"></i>
                        <span>Lọc theo</span>
                    </div>
    
                    <div class="filter-contents">
                        <div class="d-flex flex-wrap flex-lg-nowrap gap-4">
                            <div>
                                <p class="filter-content-header">Giá</p>
    
                                <div>
                                </div>
                            </div>
    
                            <div>
                                <p class="filter-content-header">Tình trạng</p>
    
                                <div class="display-grid columns-3">
                                    
                                    
                                    <input type="radio" value="" id="stt_filter-status-all" name="stt_filter-status" hidden />
                                </div>
                            </div>
                        </div>
    
                        <div class="d-flex flex-wrap flex-lg-nowrap gap-4">
                            <div>
                                <p class="filter-content-header">Danh mục</p>
    
                                <div class="display-grid columns-4">
                                   
                                </div>
                            </div>
    
                            <div>
                                <p class="filter-content-header">Hãng</p>
    
                                <div class="display-grid columns-4">
                                    
                                </div>
                            </div>
                        </div>
    
                        <div class="filter-action-wrapper">
                            <button class="filter-cancel-action page-btn">
                                <span>BỎ CHỌN</span>
                            </button>
                        
                            <button class="filter-submit-action page-btn btn-blue">
                                <span>LỌC</span>
                            </button>
                        </div>
    
                    </div>
                </div>
    
                <div class="filter-item filter-price-range">
                    <div class="filter-btn">
                        <span>Giá</span>
                    </div>
    
                    <div class="filter-contents">
    
    
                        <div class="filter-action-wrapper">
                            <button class="filter-cancel-action page-btn">
                                <span>BỎ CHỌN</span>
                            </button>
                        
                            <button class="filter-submit-action page-btn btn-blue">
                                <span>LỌC</span>
                            </button>
                        </div>
    
                    </div>
                </div>
    
                <div class="filter-item filter-categories">
                    <div class="filter-btn">
                        <span>Danh mục</span>
                    </div>
    
                    <div class="filter-contents">
                        <div class="display-grid columns-3">
                            
                        </div>
    
                        <div class="filter-action-wrapper">
                            <button class="filter-cancel-action page-btn">
                                <span>BỎ CHỌN</span>
                            </button>
                        
                            <button class="filter-submit-action page-btn btn-blue">
                                <span>LỌC</span>
                            </button>
                        </div>
    
                    </div>
                </div>
    
                <div class="filter-item filter-brands">
                    <div class="filter-btn">
                        <span>Hãng</span>
                    </div>
    
                    <div class="filter-contents">
                        <div class="display-grid columns-4">
                            
                        </div>
    
                        <div class="filter-action-wrapper">
                            <button class="filter-cancel-action page-btn">
                                <span>BỎ CHỌN</span>
                            </button>
                        
                            <button class="filter-submit-action page-btn btn-blue">
                                <span>LỌC</span>
                            </button>
                        </div>
    
                    </div>
                </div>
    
                <div class="filter-item filter-status">
                    <div class="filter-btn">
                        <span>Tình trạng</span>
                    </div>
    
                    <div class="filter-contents">
                        <div class="display-grid columns-2">
                            
    
                            <input type="radio" value="" id="filter-status-all" name="filter-status" hidden />
                        </div>
    
                        <div class="filter-action-wrapper">
                            <button class="filter-cancel-action page-btn">
                                <span>BỎ CHỌN</span>
                            </button>
                        
                            <button class="filter-submit-action page-btn btn-blue">
                                <span>LỌC</span>
                            </button>
                        </div>
    
                    </div>
                </div>
            </div>
    
            <div class="d-flex gap-2 flex-wrap">
                <div class="page-dropdown select-warehouse">
                    <div class="page-dropdown-btn" data-selected="">
                        <span>Không chọn kho</span>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <div class="page-dropdown-content">
                        <div class="page-dropdown-item" data-value="" data-text="Không chọn kho">
                            <span>Không chọn kho</span>
                        </div>
                        <div class="page-dropdown-item" data-value="@wh.WarehouseId" data-text="kho001">
                            <span>Kho 1</span>
                        </div>
                    </div>
                </div>
    
                <div class="page-dropdown sort-selection">
                    <div class="page-dropdown-btn" data-selected="">
                        <span>Sắp xếp theo</span>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <div class="page-dropdown-content">
                        <div class="page-dropdown-item" data-value="" data-text="Sắp xếp theo">
                            <span>Sắp xếp theo</span>
                        </div>
                        <div class="page-dropdown-item" data-value="price-ascending" data-text="Giá tăng dần">
                            <span>Giá tăng dần</span>
                        </div>
                        <div class="page-dropdown-item" data-value="price-descending" data-text="Giá giảm dần">
                            <span>Giá giảm dần</span>
                        </div>
                        <div class="page-dropdown-item" data-value="name-az" data-text="Tên A - Z">
                            <span>Tên A - Z</span>
                        </div>
                        <div class="page-dropdown-item" data-value="name-za" data-text="Tên Z - A">
                            <span>Tên Z - A</span>
                        </div>
                    </div>
                </div>
    
                <div class="page-dropdown view-selection">
                    <div 
                      class="page-dropdown-btn" 
                      data-selected="" 
                      (click)="toggleDropdown()">
                      <span>Dạng xem </span>
                      <i class="fa-solid fa-caret-down"></i>
                    </div>
                  
                    <div 
                      class="page-dropdown-content" 
                      [class.active]="isDropdownOpen">
                      <div 
                        class="page-dropdown-item" 
                        *ngFor="let view of viewOptions" 
                        [attr.data-value]="view.value" 
                        [attr.data-text]="view.text"
                        (click)="changeView(view.value)">
                        <span>{{ view.text }}</span>
                      </div>
                    </div>
                  </div>
    
                <div class="position-relative">
                    <form class="search-form @form_class_name">
                        <input type="text" id="search" placeholder="Tìm theo tên/mã sản phẩm" value="" required />
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                
                    <div class="search-result-wrapper position-absolute show">
                        <div class="search-result-list">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="hidden-action mt-2">
            <button class="page-btn btn-red delete-selected-products">
                <i class="fa-solid fa-trash-can"></i>
                <span>Xóa sản phẩm đã chọn</span>
            </button>
    
            <button class="page-btn btn-lightblue restore-selected-products">
                <i class="fa-solid fa-trash-can-arrow-up"></i>
                <span>Khôi phục sản phẩm đã chọn</span>
            </button>
    
            <button class="page-btn btn-green activate-selected-products">
                <i class="fa-regular fa-circle-check"></i>
                <span>Kích hoạt sản phẩm đã chọn</span>
            </button>
    
            <button class="page-btn btn-blue deactivate-selected-products">
                <i class="fa-regular fa-circle-xmark"></i>
                <span>Hủy kích hoạt sản phẩm đã chọn</span>
            </button>
            
        </div>
        <div *ngIf="viewType === 'view-list'" class="list-view">
            <div class="page-table-wrapper mt-2">
                <table class="page-table order-list">
                    <thead class="page-table-header">
                        <tr>
                            <th>
                                <input type="checkbox" id="page-table-checkbox-all" />
                            </th>
                            <th>STT</th>
                            <th>Hình</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Trạng thái</th>
                            <th>Tồn kho</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="product-list view-list" data-view="view-list">
                        <tr *ngFor="let product of data.ProductList; let i = index" [attr.data-item]="product.id">
                            <td>
                                <input type="checkbox" name="page-table-checkbox" [value]="product.id" />
                            </td>
                            <td>
                                {{ i + 1 }}
                            </td>
                            <td>
                                <div class="">
                                    <img [src]="product.productImages[0].imageUrl" alt="" style="width: 2rem">
                                </div>
                            </td>
                            <td>
                                <span class="text-overflow-1">{{ product.productName }}</span>
                            </td>
                            <td>
                                {{ product.price }}đ
                            </td>
                            <td>
                                <span [ngClass]="{'page-badge badge-success': product.status === 'Còn hàng', 'page-badge badge-warning': product.status === 'Sắp hết hàng', 'page-badge badge-error': product.status === 'Hết hàng'}">{{ product.status }}</span>
                            </td>
                            <td>
                                {{ product.stock }}
                            </td>
                            <td>
                                <div class="d-flex gap-1 align-items-center justify-content-end">
                                    <a class="page-table-btn btn-lightblue" href="javascript:">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <button class="page-table-btn btn-red delete-product" [attr.data-product]="product.id">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="viewType === 'view-grid'" class="grid-view">
            <div class="row">
                <div  *ngFor="let product of data.ProductList" class="col-sm-3 d-flex flex-column align-items-center">
                  <img *ngIf="product.productImages.length > 0" [src]="product.productImages[0].imageUrl" [alt]="product.productName" class="img-fluid product-image">
                  <h3>{{product.productName }}</h3>
                  <a [routerLink]="['/product-detail']">Xem chi tiết</a>
                </div>
              </div>
              
        </div>
    
        <div class="d-flex justify-content-end mt-2 w-100">
            <div class="pagination-box">
                <a href="javascript:void(0)" class="pagination-item" data-page="previous">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="javascript:void(0)" class="pagination-item current" data-page="1">1</a>
                <a href="javascript:void(0)" class="pagination-item" data-page="2">2</a>
                <a href="javascript:void(0)" class="pagination-item" data-page="3">3</a>
                <a href="javascript:void(0)" class="pagination-item" data-page="4">4</a>
                <a href="javascript:void(0)" class="pagination-item" data-page="5">5</a>
                <a href="javascript:void(0)" class="pagination-item" data-page="next">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    
    </section>
</main>

