.row .col-sm-3 h3 {
    font-size: 1.2rem; /* Điều chỉnh kích thước chữ tên sản phẩm */
    font-weight: 600;
    color: #333; /* Màu chữ nổi bật */
    margin-top: 10px;
}

.row .col-sm-3 a {
    margin-top: 5px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.row .col-sm-3 a:hover {
    color: #0056b3; /* Đổi màu khi di chuột qua */
}
.row{
    margin: 25px;;
}
.product-image {
    transition: transform 0.3s ease, border 0.3s ease;
    border-radius: 5px;
    border: 1px solid #F5CBA7; /* Màu da và viền mỏng */
    z-index: 1;
}

.product-image:hover {
    transform: scale(1.1);
    z-index: 10; /* Đảm bảo ảnh phóng to nằm trên các phần tử khác */
}

.product-card {
    position: relative;
    z-index: 0;
}