<p-dialog *ngIf="data"
    [(visible)]="isVisible" 
    [modal]="true"
    class="history-dialog" 
    [breakpoints]="{ '1199px': '75vw', '575px': '50vw' }" 
    styleClass="dialog-llg" 
    [resizable]="false"
    (onHide)="close()">
    <ng-template pTemplate="header" class="p-2">
        <div class="inline-flex align-items-center w-full f gap-2 border-bottom-1">
            <span class="font-bold white-space-nowrap text-xl">
                HÓA ĐƠN VAT
            </span>
        </div>
    </ng-template>
    <div class="row w-full">
        <div class="col-sm-6 align-items-center justify-content-center">
            <div class="form-horizontal">
                <div class="form-group row" >
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Hóa đơn bán hàng</label>
                    <div class="col-sm-7 col-md-8">{{data.master.SaleInvoiceCode}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Khách hàng</label>
                    <div class="col-sm-7 col-md-8">{{data.master.CustomerName}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Người mua</label>
                    <div class="col-sm-7 col-md-8">{{data.master.BuyerName}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Địa chỉ</label>
                    <div class="col-sm-7 col-md-8">{{data.master.Address}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Email</label>
                    <div class="col-sm-7 col-md-8">{{data.master.CustomerEmail}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Điện thoại</label>
                    <div class="col-sm-7 col-md-8">{{data.master.CustomerPhone}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">MST</label>
                    <div class="col-sm-7 col-md-8">{{data.master.TaxCode}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Đơn vị</label>
                    <div class="col-sm-7 col-md-8">{{data.master.CompanyName}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Địa chỉ</label>
                    <div class="col-sm-7 col-md-8">{{data.master.CompanyAddress}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Ghi chú</label>
                    <div class="col-sm-7 col-md-8" ng-bind="">{{data.master.Notes}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 offset-md-1 align-items-center justify-content-center">
            <div class="form-horizontal">
                <div class="row form-group">
                    <label class="col-sm-6 control-label">Số hóa đơn</label>
                    <div class="col-sm-6">{{data.master.Code}}</div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-6 control-label">Ngày hóa đơn</label>
                    <div class="col-sm-6">
                        <span [appFormatDate]="data.master.VoucherDate" format="dateTimeFilter"></span>                                  
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-6 control-label">Mã tra cứu</label>
                    <div class="col-sm-6">{{data.master.AccessCode}}</div>
                </div>                               
                <div class="row form-group">
                    <label class="col-sm-6 control-label">Ngày tạo</label>
                    <div class="col-sm-6">
                        <span [appFormatDate]="data.master.CreatedDate" format="dateTimeFilter"></span> 
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-6 control-label">Người tạo</label>
                    <div class="col-sm-6">
                        {{data.master.UserName}}
                    </div>
                </div>             
            </div>
            
        </div>
    </div>
    <div class="row w-full">
        <p-table
            #tb 
            [value]="data.details"
            tableStyleClass="table-edit table"
            scrollHeight="60vh">
            <ng-template pTemplate="header">
                <tr>
                    <th class="order-number">#</th>
                    <th class="code-lg">Mã hàng</th>
                    <th class="text-sm">Tên hàng</th>
                    <th class="unit-xs">ĐVT</th>
                    <th class="quantity-xs">Số lượng</th>
                    <th class="number-sm">Đơn giá</th>
                    <th class="number-sm">Thành tiền</th>
                    <th class="number-xs">Giảm (%)</th>
                    <th class="number-xs">Giảm giá</th>
                    <th class="number-xs">Thuế suất</th>
                    <th class="number-xs">Tiền thuế</th>
                    <th class="number-sm">Tổng tiền</th>
                    <th class="text-sm">Ghi chú</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-o let-index="rowIndex">
                <tr >
                    <td class="text-center">{{index+1}}</td>
                    <td>{{o.ProductCode}}</td>
                    <td class="text-sm">{{o.ProductName}}</td>
                    <td class="text-center">{{o.UnitName}}</td>
                    <td class="text-right">
                        <span [appFormatNumber]="o.Quantity" format="quantity"></span>
                    </td>
                    <td class="text-right">
                        <span [appFormatNumber]="o.Price" format="currency"></span>
                    </td>
                    <td class="text-right">
                        <span [appFormatNumber]="o.Amount" format="currency"></span>
                    </td>
                    <td class="text-right">
                        <span [appFormatNumber]="o.DiscountPercent" format="quantity"></span>
                    </td>
                    <td class="text-right">
                        <span [appFormatNumber]="o.DiscountAmount" format="currency"></span>
                    </td>
                    <td class="text-right">
                        <span [appFormatNumber]="o.TaxPercent" format="currency"></span>
                    </td>
                    <td class="text-right">
                        <span [appFormatNumber]="o.TaxAmount" format="currency"></span>
                    </td>
                    <td class="text-right">
                        <span [appFormatNumber]="o.TotalAmount" format="currency"></span>
                    </td>
                    <td>
                        {{o.Notes}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12" class="empty-message" >Không có dữ liệu.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="row w-full mt-2">
        <div class="col-sm-7 col-md-6">
            
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3 offset-md-2 offset-lg-3 text-right group-amount">
            <dl ng-Class="{'no-border': !initalData.isDiscountInvoice}" class="border-none w-full mb-0">
                <dt>Thành tiền</dt>
                <dd>
                    <span [appFormatNumber]="data.master.Amount + data.master.TaxAmount - data.master.DiscountProductAmount" format="currency"></span> {{data.master.CurrencyID}}
                </dd>
                <dt>Giảm giá</dt>
                <dd>{{data.master.DiscountAmount>0? "-": ""}}
                    <span [appFormatNumber]="data.master.DiscountAmount"
                        format="currency"></span> {{data.master.CurrencyID}}
                </dd>
                <!-- <dt ng-If="initalData.isChargeAmount">Chi phí</dt>
                <dd ng-If="initalData.isChargeAmount">
                    <span [appFormatNumber]="invoiceDetail.rowCharge.FCAmount"
                        format="currency"></span> {{data.master.CurrencyID}}
                </dd> -->
            </dl>
            <dl class="total-amount">
                <dt class="font-bold text-xl">Tổng tiền</dt>
                <dd class="font-bold text-xl">
                    <span class="text-xl" [appFormatNumber]="data.master.TotalAmount"
                        format="currency"></span> {{data.master.CurrencyID}}
                </dd>
            </dl>
        </div>            
    </div>
    <ng-template pTemplate="footer">
        <div class="border-top-1">
            <p-button 
            label="Đóng" 
            severity="success" 
            (onClick)="isVisible = false" /> 
        </div>
            
    </ng-template>
</p-dialog>
