<div class="chitiet-nd">
    <div class="title-main">
        <span>Chính sách</span>
    </div>
    <p class="title-pro-detail mb-2">Điều khoản sử dụng</p>
    <div class="time-main">
        <i class="fas fa-calendar-week"></i><span>Ngày đăng: 4 năm trước </span>
    </div>
    <div class="content-main autoHeight w-clear mt-3" id="toc-content">
        <p>
            <span style="line-height:2em; font-size:18px; font-family:arial,helvetica,sans-serif;">
                Tất cả các hạng mục được đưa ra rỏ ràng cho khách hàng,nội dung công việc kèm giá cả,xuất xứ hàng hóa có nguồn gốc CO,CQ </span>
        </p>
    </div>
    <div class="share othernews mb-3">
        <b>Chính sách khác:</b>
        <ul class="list-news-other">
            <li><a class="text-decoration-none" href="/customer-support" title="Hỗ trợ khách hàng ">Hỗ trợ khách hàng - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="/repair-quote" title="Báo giá sửa chữa">Báo giá sửa chữa - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="/warranty-policy" title="Chính sách bảo hành">Chính sách bảo hành - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="/privacy-policy" title="Chính sách bảo mật">Chính sách bảo mật - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="/shipping-policy" title="Chính sách vận chuyển">Chính sách vận chuyển - 30/05/2020</a></li>
            <li><a class="text-decoration-none" href="su-dung-thong-tin" title="Sử dụng thông tin">Sử dụng thông tin - 30/05/2020</a></li>
        </ul>
        <div class="pagination-home w-100"></div>
    </div>
</div>
