<p-dialog *ngIf="data"
    [(visible)]="isVisible" 
    [modal]="true"
    class="history-dialog" 
    [breakpoints]="{ '1199px': '75vw', '575px': '50vw' }" 
    styleClass="dialog-llg" 
    [resizable]="false"
    (onHide)="close()">
    <ng-template pTemplate="header" class="p-2">
        <div class="inline-flex align-items-center w-full f gap-2 border-bottom-1">
            <span class="font-bold white-space-nowrap text-xl">
                DỊCH VỤ THUÊ NGOÀI
            </span>
        </div>
    </ng-template>
    <div class="row w-full">
        <div class="col-sm-6 align-items-center justify-content-center">
            <div class="form-horizontal">

                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Tên đối tượng</label>
                    <div class="col-sm-7 col-md-8">{{data.master.ObjectName}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Điện thoại</label>
                    <div class="col-sm-7 col-md-8">{{data.master.ObjectPhone}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Địa chỉ</label>
                    <div class="col-sm-7 col-md-8">{{data.master.ObjectAddress}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-md-4 col-lg-3 control-label">Nội dung chi</label>
                    <div class="col-sm-7 col-md-8" ng-bind="">{{data.master.Notes}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 align-items-center justify-content-center">
            <div class="form-horizontal">
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Số chứng từ</label>
                    <div class="col-sm-8">{{data.master.Code}}</div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Ngày chứng từ</label>
                    <div class="col-sm-8">
                        <span [appFormatDate]="data.master.VoucherDate" format="dateTimeFilter"></span>                                  
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Ngày hạch toán</label>
                    <div class="col-sm-8">
                        <span [appFormatDate]="data.master.AccountingDate" format="dateTimeFilter"></span> 
                    </div>
                </div>                                     
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Ngày tạo</label>
                    <div class="col-sm-8">
                        <span [appFormatDate]="data.master.CreatedDate" format="dateTimeFilter"></span> 
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Người tạo</label>
                    <div class="col-sm-8">
                        {{data.master.UserName}}
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Loại phiếu</label>
                    <div class="col-sm-8">
                        {{data.master.PaymentTypeName}}
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label">Hình thức TT</label>
                    <div class="col-sm-8">
                        {{data.master.PaymentMethodName}}
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label font-bold text-xl">Tổng tiền</label>
                    <div class="col-sm-8 font-bold text-xl">
                        <span [appFormatNumber]="data.master.Amount" format="currency"></span> {{data.master.CurrencyID}}
                    </div>
                </div>                   
            </div>           
        </div>
    </div>
    <div class="row w-full mt-2">
        <div class="col-sm-5 col-md-4 col-lg-3 offset-md-8 offset-lg-9 text-right group-amount">      
            <dl class="total-amount">
                <dt class="font-bold text-xl">Tổng tiền</dt>
                <dd class="font-bold text-xl">
                    <span class="text-xl" [appFormatNumber]="data.master.Amount"
                        format="currency"></span> {{data.master.CurrencyID}}
                </dd>
            </dl>
        </div>            
    </div>
    <ng-template pTemplate="footer">
        <div class="border-top-1">
            <p-button 
            label="Đóng" 
            severity="success" 
            (onClick)="isVisible = false" /> 
        </div>            
    </ng-template>
</p-dialog>